<!DOCTYPE html>
<html lang="cn" style="width: 100%;height: 100%">
<head>
    <title>login</title>
    <link rel="stylesheet" href="./../css/login.css">
    <link rel="stylesheet" href="./../css/global.css">
    <meta charset="UTF-8">
    <script src="https://cdn.staticfile.org/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="./../js/login.js"></script>
</head>
<body style="width: 100%;height: 100%">
<div id="root">
    <div class="blank">
    </div>
    <div id="main" rounded>
        <div class="title">
            <label text style="font-size: 20px">
                CheckIn管理页
            </label>
        </div>
        <div id="loginFormDiv">
            <form id="loginForm" method="post">
                <div class="input">
                    <label for="usernameOrQQ"></label>
                    <input type="text" id="usernameOrQQ" name="usernameOrQQ" placeholder="用户名/QQ" required>
                </div>
                <div class="input">
                    <label for="password"></label>
                    <input type="password" id="password" name="password" placeholder="密码"
                           autocomplete="current_password" required>
                </div>
                <input class="input" id="loginButton" type="button" onclick="login()" value="登录">
                <div id="tip" text></div>
            </form>
        </div>
    </div>
    <div class="blank">
    </div>
</div>
</body>

</html>