<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<div id="managePage" index="0" page-type="server" onload="initChart()">
    <div id="left">
        <div id="leftTop" rounded border onclick="switchToPageWithAnimate('server',1)">
            <div id="chart"></div>
        </div>
        <div id="leftBottom" rounded border>
            <div id="todayTraffics"></div>
        </div>
    </div>
    <div id="right" rounded border>
        <label titleLabel>新增题目</label>
        <th:block th:each="question:${@questionInfo.getNewQuestionInDays(14)}">
            <div th:replace="pages/questionOverview::questionOverview(${question},${true})"></div>
        </th:block>
    </div>
</div>