<!DOCTYPE html>
<html lang="cn" xmlns:th="https://www.thymeleaf.org">
<div id="managePage" index="1" page-type="server" onload="initTraffic()">
    <div id="left" rounded border style="overflow-x: hidden">
        <div style="display: flex;flex-direction: column;max-height: 100%">
            <div style="display: flex;flex-direction: row">
                <label for="searchInput" style="margin: 4px;line-height: 48px;">搜索</label>
                <input id="searchInput" type="text" style="flex: 1" oninput="searchTraffic()">
            </div>
            <div style="display: flex;flex: 1;flex-direction: row">
                <div class="noScrollBar" id="dateSelections" component_type="dateSelector"
                     style="overflow: auto;flex: none">
                    <div th:each="dateTraffic:${@trafficInfo.getDateTraffics()}" style="width: 20px;writing-mode: vertical-rl;transform: rotate(180deg);display: flex;flex-direction: row-reverse"
                         rounded clickable border id="${dateTraffic.localDate}">
                        <div component_type="selectPointer"></div>
                        <label th:text="${dateTraffic.getLocalDate()}"></label>
                    </div>
                </div>
                <div id="userTraffics" style="flex: 1">
                    <div class="subContentRoot" style="max-height: calc(100% - 16px);"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="right" rounded border>
        <div class="subContentRoot"></div>
    </div>
</div>
</html>