<!DOCTYPE html>
<html lang="cn" xmlns:th="https://www.thymeleaf.org">
<!--/*@thymesVar id="permissionMap" type="java.util.Map"*/-->

<div id="managePage" index="0" page-type="user" onload="initWaterfall()" onclose="destroyWaterfall()">
    <div rounded style="display: flex;flex: 1;flex-direction: column" border>
        <div id="searchDiv">
            <label titleLabel text>用户</label>
            <div class="blank"></div>
            <div style="display: flex;margin: 8px;height: 40px">
                <label for="userSearch" titleLabel style="line-height: 24px">搜索</label>
                <input id="userSearch" type="text" style="flex: 1;margin: 0;height: auto" preText="搜索" oninput="searchUser()">
                <button rounded style="font-size: 26px;width: 60px;height: auto;line-height: 24px;margin: 0 0 0 4px" onclick="newUser()" th:if="${permissionMap.get('permission_create_user')}">+</button>
            </div>
        </div>
<!--        <div style="width: 2px;margin: 4px;border-radius: 1px;background: rgba(128,128,128,0.2)"></div>-->
        <div class="waterfallInfo" style="display: none">
            <th:block th:each="user:${@userInfo.getUsers()}">
                <div th:replace="~{manage/pages/userPane::userPane(${user})}"></div>
            </th:block>
        </div>
        <div class="waterfallBasic" style="display: flex;flex: 1;flex-direction: row;overflow: hidden;margin-right: 8px;"></div>
    </div>
</div>
</html>