@media (prefers-color-scheme: dark) {
    :root{
        --menu-background-color: rgba(25,25,25,0.7);
    }
}

@media (prefers-color-scheme: light) {
    :root{
        --menu-background-color: rgba(230,230,230,0.7);
    }
}

.context-menu-list {
    border-radius: 8px;
    border: 0;
    padding: 4px;
    margin: 6px;
    background-color: var(--context-menu-background-color);
    -webkit-box-shadow: 3px 0 15px rgba(0,0,0,0.5);
    box-shadow: 3px 0 15px rgba(0,0,0,0.5);
    backdrop-filter: blur(8px);
}
.context-menu-item {
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 8px;
    border: 0;
    background-color: var(--context-menu-background-color);
    color: var(--font-color);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.context-menu-item.context-menu-hover {
    background-color: var(--context-menu-item-background-color-hover);
    color: var(--font-color);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.context-menu-icon::before {
    color: var(--font-color);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.context-menu-item.context-menu-hover::before:hover {
    color: var(--font-color);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.context-menu-icon.context-menu-hover::before {
    color: var(--font-color);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

li[class="context-menu-item context-menu-separator context-menu-not-selectable"]{

}

.context-menu-item .context-menu-hover {
    border-radius: 8px;
    border: 0;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    background-color: var(--component-background-color-hover);
}

#top{
    height: 35px;
    flex: none;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;

    opacity: 0;
}
#content{
    height: calc(100% - 80px);
    flex: 1;

    opacity: 0;
}
#pagePath{
    flex: 1;
    display: flex;
    flex-direction: row;
}
#pagePath>div{
    display: inline-block;
    height: 100%;
    margin: 0 3px;
}
#pagePath>div>a{
    color: #fff;
    text-decoration: none;
}
#pagePath>div>a:hover{
    color: #aaa;
}
#top>button , #menuTop>button{
    background: var(--input-background-color);
    width: 35px;
    height: 100%;/*35px*/
    flex: none;
}
#top>button:hover , #menuTop>button:hover{
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    background: var(--input-background-color-hover);
}
.selectedMenuButton{
    background: var(--component-background-color-hover);
}
#menu{
    height: auto;
    width: 300px;
    margin: 6px 6px 6px -100%;
    display: flex;
    flex-direction: column;
    background: var(--menu-background-color);
    backdrop-filter: blur(60px);
    overflow: hidden;
}
#menuInsideButton{
    width: 35px;
    height: 35px;
}
#menuTop{
    display: flex;
    flex-direction: column;
    height: 35px;
}

#topMask {
    width: 100%;
    height: 100%;
    display: none; /*for js*/
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--context-menu-background-color);
    backdrop-filter: blur(8px);
}

.menuButtons>button{
    width: 100%;
    height: 35px;
    margin-top: 4px;
    padding-left: 16px;
    text-align: left;
}
#menuBottom{
    display: flex;
    flex-direction: row;
    height: 60px;
    margin: 0;
    padding: 0;
}
#userPanel{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 0 4px;
    padding: 4px;
}
#logoutButton{
    width: 60px;
    height: 60px;
    margin: 0 4px 0 0;
}
#managePage{
    display: flex;
    flex-direction: row;
    height: 100%;
}
div[component_type="tip"]{
    pointer-events: auto;
    width: auto;
    margin: 0;
    box-shadow: 0 5px 15px black;
    min-height: 80px;
    padding: 8px;
    /*z-index: 8 !important;*/
}
#tipsMask{
    pointer-events: none;
    position: fixed;
    width: 300px;
    height: auto;
    bottom: 0;
    right: 8px;
    padding: 0;
    margin: 0;
    z-index: 1;
}
.tipTop{
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
}
.path{
    padding-top: 5px;
    max-height: 25px;
    color: var(--font-color);
}
#contentRoot{
    z-index: auto;
}