.questions {
    display: flex;
    flex-direction: column;
}

.question {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.question > div {
    display: flex;
    flex-direction: column;
}

.question > .l1 {
    flex: 1;
    flex-direction: column;
}

.question > .l1 > div {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    /*justify-content: space-between;*/
    align-items: center;
    padding: 2px;
}

.question > .l2 {
    flex: 0;
    flex-direction: row;
}

.question > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.question div[rounded]{
    margin: 0 2px;
    background: var(--input-background-color);
}

.questionContent {
    white-space: normal;
    word-break: break-all;
    overflow: hidden;
}

.addButtons {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.questionContent {
    flex: 1;
}

.questionType {
    flex: 0;
}

.addButtons > button {
    height: 40px;
    flex: 1;
}

.questionChoices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.questionChoice {
    background-color: rgba(0, 0, 0, 0.15);
    color: rgba(255, 60, 60, 0.7);
}

.questionChoice[correct] {
    color: rgba(60, 255, 60, 0.7);
}