<!DOCTYPE html>
<html lang="cn" xmlns:th="https://www.thymeleaf.org">
<!--use as
'?' : optional
"[ ... ]" : default
<div th:replace="components/switch::switch(
switchID,
?style[""],
?onFuncName[undefined],
?offFuncName[undefined],
?state[true],
?width[45],
?height[24],
?dotMargin[4],
?disabled[false],
)"></div>
-->
<span th:fragment="switch(
switchID,
onFuncName='undefined',
offFuncName='undefined',
state=true,
width=45,
height=24,
dotMargin=4,
disabled=false,
style=''
)" border th:id="${switchID}" class="toggleSwitchBasic"
      th:style="'width: '+${width}+'px;height: '+${height}+'px;align-self: center;flex: none;'+
      ${state?'background: var(--highlight-component-background-color-hover)':''}+';'+
      ${style}" component_type="toggleSwitch" move_distance="${moveLeft}"
      disabled="disabled"
      onclick="toggleSwitch($(this),${moveLeft},${onFuncName},${offFuncName})">
    <input type="hidden" class="toggleSwitchInput" name="${switchID}" id="input_${switchID}" value="${empty state?" true":state}">
    <span class="toggleSwitchDot" style="height: ${dotSize}px;width: ${dotSize}px;<c:if
            test=" ${state}">left: ${moveLeft}px</c:if>"></span>
</span>
</span>
</html>