:root {
    --el-color-primary: #c1e2ea !important;
    --el-color-primary-1: #aac7ce !important;
    --el-color-primary-2: #94acb2 !important;
    --el-color-primary-3: #7d9398 !important;
    --el-mask-color: rgba(0, 0, 0, 0.3) !important;
    --ease-in-bounce: cubic-bezier(0.845, 0.545, 0.565, 1.335);
    --ease-in-bounce-1: cubic-bezier(0.42, 0.62, 0.09, 1.23);
    --ease-in-out-bounce: cubic-bezier(0.860, 0.000, 0.235, 1.195);
    --ease-in-out-quint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    --ease-out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
    --ease-in-quint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    --primary-button-text-color: rgba(0, 0, 0, 0.9);
    --front-color-dark: rgba(15, 15, 15, 0.9);
    --front-color-light: rgba(240, 240, 240, 0.9);
    --mobile-width: 1080px;
    --el-transition-duration: 150ms !important;
}

@media (prefers-color-scheme: dark) {
    :root {
        --el-color-primary: #aac7ce;
        --bg-color-alpha: rgba(20, 20, 20, 0.6);
        --panel-bg-color: rgba(128, 128, 128, 0.05);
        --panel-bg-color-overlay: rgba(128, 128, 128, 0.1);
        --fullscreen-bg-color: rgba(20, 20, 20, 0.9);
        --popper-bg-color: rgba(20, 20, 20, 0.9);
        --icon-color: rgba(255, 255, 255, 0.9);
        --front-color: var(--front-color-light);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --el-color-primary: #aac7ce;
        --bg-color-alpha: rgba(20, 20, 20, 0.6);
        --panel-bg-color: rgba(255, 255, 255, 0.1);
        --panel-bg-color-overlay: rgba(255, 255, 255, 0.2);
        --fullscreen-bg-color: rgba(255, 255, 255, 0.9);
        --popper-bg-color: rgba(20, 20, 20, 0.9);
        --icon-color: rgba(0, 0, 0, 0.9);
        --front-color: var(--front-color-dark);
    }
}

.breadcrumb-item-leave-active .el-breadcrumb__separator {
    opacity: 0 !important;
}

.el-breadcrumb__separator {
    transition: 0.2s var(--ease-in-out-quint);
}

.el-button {
    transition: 200ms var(--ease-in-out-quint) all !important;
}

.el-button:active,
.el-upload--picture-card:active,
.v-md-editor__toolbar li:active {
    transform: scale(0.98);
}

.el-input {
    transition: 200ms var(--ease-in-out-quint) all !important;
    background: var(--el-bg-color);
    border-color: rgba(128, 128, 128, 0.5) !important;
}

/*noinspection SpellCheckingInspection*/
.splitpanes__splitter {
    min-width: 6px !important;
}

/*noinspection SpellCheckingInspection*/
.splitpanes__pane {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-direction: column;
    transition: 20ms var(--ease-in-out-quint) !important;
}

/*noinspection SpellCheckingInspection*/
.splitpanes__pane > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: 0;
    overflow: auto;
    padding: 8px;
    margin: 0 !important;
}

.el-button:not(.is-text):not(.is-link) {
    --button-bg-color: var(--panel-bg-color);
    background: var(--button-bg-color) linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0, transparent 2px calc(100% - 2px), rgba(0, 0, 0, 0.08) 100%);
    border: none !important;
    /*padding: 0 !important;*/
    display: flex;
    transition: 0.2s var(--ease-in-out-quint);
}

.el-button:not(.is-text):not(.is-link):not(.is-disabled):hover {
    background-color: var(--panel-bg-color-overlay) !important;
    /*--button-bg-color: var(--panel-bg-color-overlay);*/
}

.el-button.is-disabled {
    opacity: 0.7 !important;
}

.el-button:not(.is-disabled):not(.is-link):hover {
    background-color: var(--panel-bg-color-overlay) !important;
    /*--button-bg-color: var(--panel-bg-color-overlay);*/
}

.el-button.is-text:not(.is-disabled):hover {
    background: var(--panel-bg-color-overlay) linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0, transparent 2px calc(100% - 3px), rgba(0, 0, 0, 0.2) 100%) !important;
}

.el-button.is-text {
    transition: 200ms var(--ease-in-out-quint);
    background: transparent !important;
}

.el-select-dropdown__item {
    border-radius: 4px;
    margin: 0 4px;
    transition: 200ms var(--ease-in-out-quint);
    background: transparent !important;
}

.el-select-dropdown__item.is-hovering {
    background: var(--panel-bg-color-overlay) !important;
}

.el-button.is-text:not(.is-disabled):hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0, transparent 2px calc(100% - 3px), rgba(0, 0, 0, 0.2) 100%);
}

.el-button.el-button--primary:not(.is-text):not(.is-link) {
    color: var(--primary-button-text-color) !important;
    background-color: var(--el-color-primary-3) !important;
}

.el-button.el-button--primary:not(.is-text):not(.is-link) .el-text {
    color: var(--primary-button-text-color) !important;
}

.el-button.el-button--primary:not(.is-text):not(.is-link):not(.is-disabled):hover {
    background-color: var(--el-color-primary) !important;
}

.el-button.is-link {
    padding: 0 8px !important;
}

.el-button.is-link > * {
    transition: opacity 0.2s var(--ease-in-out-quint);
}

.el-button.is-link:not(.is-disabled):hover > * {
    opacity: 0.5;
}

.el-notification {
    --el-notification-width: 400px !important;
    transition: 500ms var(--ease-in-bounce-1) !important;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0, var(--el-bg-color-overlay) 3px calc(100% - 3px), rgba(0, 0, 0, 0.1) 100%);
    border: none !important;
}

.el-notification__content p {
    word-break: break-word;
}

.el-upload--picture-card {
    border: none !important;
    background: var(--panel-bg-color) linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0, transparent 2px calc(100% - 3px), rgba(0, 0, 0, 0.2) 100%);
    transition: --base-bg-color 150ms var(--ease-in-out-quint);
}

.el-upload--picture-card:not(.is-disabled):hover {
    background-color: var(--panel-bg-color-overlay);
}

.el-breadcrumb__item {
    white-space: nowrap;
}

.el-tree__drop-indicator {
    transition: 0.2s var(--ease-in-bounce-1);
}

.el-tree-node__content {
    transition: 0.15s var(--ease-in-out-quint);
    border-radius: 4px;
}

.el-tree-node__content:hover {
    background: var(--panel-bg-color-overlay) linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0, transparent 2px calc(100% - 3px), rgba(0, 0, 0, 0.2) 100%) !important;
}

.is-current > .el-tree-node__content {
    background: var(--panel-bg-color-overlay) linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0, transparent 2px calc(100% - 3px), rgba(0, 0, 0, 0.2) 100%) !important;
}

.el-tree-node__content:has(.disable-tree-item-hover), .el-tree-node__content:has(.disable-tree-item-focus) {
    background: transparent !important;
    cursor: default;
}

.el-tree-node__content:not(.is-disabled):hover .node-button {
    width: auto;
    transition: opacity 0.15s var(--ease-in-out-quint);
    opacity: 1;
}

.el-tree-node__content .node-button {
    opacity: 0;
}

.el-upload-list__item {
    margin-bottom: 0 !important;
}

.el-list-enter-active, .el-list-leave-active {
    transition: 0.6s var(--ease-in-bounce-1) !important;
}

.el-upload-list--picture-card .el-upload-list__item {
    position: relative !important;
}

.el-list-enter-from {
    margin-right: -148px !important;
    transform: translateX(50%) !important;
}

.el-list-leave-to {
    margin-right: -148px !important;
    opacity: 0 !important;
    transform: none !important;
}

.flex-blank-1 {
    flex: 1 1 0;
}

.el-checkbox__input, .el-checkbox__inner {
    width: 16px !important;
    height: 16px !important;
}

.el-checkbox__inner:after {
    top: 3px !important;
    left: 5px !important;
    border-width: 2px !important;
    border-radius: 1px;
    --el-checkbox-checked-icon-color: var(--front-color-dark);
    transition: 200ms var(--ease-in-bounce-1) !important;
}

.el-input > *, .el-textarea > *, .el-select__wrapper {
    border-radius: 4px;
    margin: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0, transparent 2px calc(100% - 3px), rgba(0, 0, 0, 0.2) 100%) !important;
    transition-delay: 50ms;
    height: 100%;
    place-items: baseline !important;
}

.el-input__suffix {
    align-self: center;
}

.el-select__suffix {
    place-self: center;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.is-selected:after {
    content: none !important;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 0;
    width: 3px;
    opacity: 0;
    filter: blur(2px);
    background: var(--el-color-primary);
    border-radius: 1.5px;
    transition: 200ms var(--ease-in-bounce-1);
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.is-selected:before {
    top: 20%;
    left: 0;
    height: 60%;
    opacity: 1;
    filter: none;
}

.el-input__inner {
    background-clip: text !important;
}

/*.el-input__wrapper.is-focus, .el-select__wrapper.is-focused {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0, transparent 3px calc(100% - 3px), var(--el-color-primary) calc(100% - 1.5px) 100%) !important;
}*/

.el-input__wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch !important;
}

.el-checkbox__inner {
    /*background: transparent !important;*/
    border: 4px var(--el-border-color) !important;
    background-clip: padding-box;
    transition: 200ms var(--ease-in-out-quint);
}

/*.el-checkbox__input.is-focus > .el-checkbox__inner {
    background: linear-gradient(180deg, transparent calc(100% - 3px), var(--el-color-primary) calc(100% - 1.5px) 100%) !important;
}*/

.el-input:not(.is-focus) > div,
.el-textarea,
.el-textarea > textarea,
.el-select__wrapper {
    border-radius: 4px !important;
    box-shadow: none !important;
}

.el-input--small {
    border-radius: 3px;
}

.el-textarea, .el-input, .el-select {
    border-radius: 4px !important;
    background: var(--panel-bg-color);
    transition: 0.2s var(--ease-in-out-quint);
}

.el-checkbox__input {
    border-radius: 4px !important;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0, var(--panel-bg-color) 2px calc(100% - 3px), rgba(0, 0, 0, 0.2) 100%);
}

.el-textarea:not(.is-disabled):hover,
.el-input:not(.is-disabled):hover,
.el-select:not(.is-disabled):hover,
*:not(.el-tabs__nav):has(> .is-focused),
*:not(.el-checkbox):not(.el-tabs__nav):has(> .is-focus) {
    background: var(--panel-bg-color-overlay);
}

.el-tabs__nav-wrap:after {
    transition-timing-function: var(--ease-in-out-quint);
}

.el-tabs {
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.el-tabs__content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.el-tabs__content > .el-tab-pane {
    max-height: 100%;
    flex: 1;
}

/*.el-textarea > textarea:focus {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0, transparent 3px calc(100% - 3px), var(--el-color-primary) calc(100% - 1.5px) 100%) !important;
    background-clip: padding-box;
    transition-delay: 50ms;
}*/

.question-content-input::after,
.el-input::after, .el-textarea::after, .el-select::after, .el-checkbox::after {
    content: "";
    position: absolute;
    background: var(--el-color-primary);
    opacity: 0;
    width: 0;
    left: 50%;
    top: calc(100% - 2px);
    height: 2px;
    /*    border-radius: 1px;*/
    border-radius: 0 0 2px 2px;
    filter: blur(4px);
    transition: left 500ms cubic-bezier(.34, .26, .19, 1.18),
    width 500ms cubic-bezier(.34, .26, .19, 1.18),
    background-color 150ms var(--ease-in-out-quint),
    opacity 150ms var(--ease-in-quint) 100ms,
    filter 100ms var(--ease-in-out-quint) 100ms;
}

.el-select::after {
    top: calc(100% - 4px);
}

.question-content-input.warning::after, .question-content-input.error::after,
.el-input:has(.is-focus)::after, .el-textarea:has(textarea:focus)::after, .el-select:has(.is-focused)::after,
.el-input.warning::after, .el-textarea.warning::after, .el-select.warning::after, .el-checkbox.warning::after,
.el-input.error::after, .el-textarea.error::after, .el-select.error::after, .el-checkbox.error::after {
    opacity: 1;
    width: 98%;
    left: 1%;
    filter: none;
}

.question-content-input.error::after,
.el-input.error::after, .el-textarea.error::after, .el-select.error::after, .el-checkbox.error::after {
    background: var(--el-color-danger);
}

.question-content-input.warning::after,
.el-input.warning::after, .el-textarea.warning::after, .el-select.warning::after, .el-checkbox.warning::after {
    background: var(--el-color-warning);
}

.el-tag__close {
    opacity: 1;
    transition: 100ms var(--ease-in-out-quint);
}

.el-tag {
    background: var(--el-tag-bg-color) linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0, transparent 2px calc(100% - 2px), rgba(0, 0, 0, 0.07) 100%) !important;
    border: none !important;
    transition: background-color 200ms var(--ease-in-out-quint);
}

.el-tag__content {
    transition: 200ms var(--ease-in-out-quint);
}

.el-popper, .el-message-box {
    border: none !important;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0, var(--popper-bg-color) 2px calc(100% - 3px), rgba(0, 0, 0, 0.2) 100%) !important;
    backdrop-filter: blur(16px) !important;
    border-radius: 4px !important;
}

.el-popper[data-popper-placement^=bottom] .el-popper__arrow:before {
    background: var(--popper-bg-color) !important;
    backdrop-filter: blur(8px) !important;
    border-color: var(rgba(255, 255, 255, 0.1)) !important;
}

.el-popper:has(.no-pop-padding) {
    padding: 0 !important;
}

#app .scrollbar__bar,
.el-scrollbar__bar {
    transition: 300ms var(--ease-in-out-quint);
    opacity: 1;
}

#app .scrollbar__bar.is-vertical,
.el-scrollbar__bar.is-vertical {
    display: flex;
    flex-direction: row-reverse;
}

#app .scrollbar__bar.is-horizontal,
.el-scrollbar__bar.is-horizontal {
    display: flex;
    flex-direction: column-reverse;
}

#app .scrollbar__bar.is-vertical .scrollbar__thumb,
.el-scrollbar__bar.is-vertical .el-scrollbar__thumb {
    transition: background-color 100ms var(--ease-in-out-quint),
    width 100ms var(--ease-in-out-quint) !important;
    width: 3px !important;
    background: var(--el-scrollbar-bg-color) !important;
}

#app .scrollbar__bar.is-horizontal .scrollbar__thumb,
.el-scrollbar__bar.is-horizontal .el-scrollbar__thumb {
    transition: background-color 100ms var(--ease-in-out-quint),
    height 100ms var(--ease-in-out-quint) !important;
    height: 3px !important;
    background: var(--el-scrollbar-bg-color) !important;
}

#app .scrollbar__bar.is-vertical:hover > .scrollbar__thumb,
.el-scrollbar__bar.is-vertical:hover > .el-scrollbar__thumb {
    width: 6px !important;
}

#app .scrollbar__bar.is-horizontal:hover > .scrollbar__thumb,
.el-scrollbar__bar.is-horizontal:hover > .el-scrollbar__thumb {
    height: 6px !important;
}

.el-upload-list .el-icon--close-tip {
    display: none !important;
}

.el-button--primary .loader {
    border-color: var(--front-color-dark) #0000 !important;
}

.el-icon.el-tree-node__loading-icon.is-loading svg {
    display: none;
}

.el-icon.el-tree-node__loading-icon.is-loading {
    width: 16px !important;
    order: -1;
    margin-left: 3px;
    margin-right: -21px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1.5px solid;
    border-color: var(--front-color) #0000;
    animation: l1 0.8s var(--ease-in-bounce-1) infinite;
}

@keyframes l1 {
    to {
        transform: rotate(.5turn)
    }
}

.el-tree-node__expand-icon {
    transition-timing-function: var(--ease-in-bounce) !important;
}

.el-tree-node__content:has(.disable-tree-checkbox) .el-checkbox {
    display: none;
}

.el-loading-mask {
    backdrop-filter: blur(8px);
    display: flex !important;
    justify-content: center !important;
    background: transparent !important;
}

/* HTML: <div class="loader"></div> */
.el-loading-spinner {
    width: 32px !important;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid;
    border-color: var(--front-color) #0000;
    animation: l1 0.8s var(--ease-in-bounce-1) infinite;
}

@keyframes l1 {
    to {
        transform: rotate(.5turn)
    }
}

.el-switch__core {
    --el-switch-off-color: var(--panel-bg-color);
    --el-switch-on-color: var(--el-color-primary-3);
    border: 1px solid var(--el-border-color-lighter) !important;
}

.el-switch__core:not(.is-disabled):hover {
    --el-switch-on-color: var(--el-color-primary);
}

.el-switch__core .el-switch__action {
    background-color: var(--front-color-light) !important;
    transition: 400ms var(--ease-in-bounce-1) !important;
}

.el-switch.is-checked .el-switch__action {
    --el-switch-on-color: rgb(30, 30, 30);
    background-color: var(--el-switch-on-color) !important;
}

.el-tree-node {
    transition: all 0.3s var(--ease-out-quint) !important;
    display: grid;
    grid-template-rows: 0fr 0fr;
}

.el-tree-node.is-expanded {
    grid-template-rows: 0fr 1fr;
}

.el-collapse-transition-enter-active {
    transition: all 0.3s var(--ease-out-quint), visibility 0s 0s !important;
}

.el-collapse-transition-leave-active {
    transition: all 0.3s var(--ease-in-quint), visibility 0s 0.3s !important;
}

.el-collapse-transition-enter-from, .el-collapse-transition-leave-to {
    visibility: hidden;
}

#app .el-tree-node__children {
    max-height: max-content !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*vertical-align: baseline;*/
}

.el-tree-node__children > .el-tree-node {
    /*display: block;*/
    /*vertical-align: bottom;*/
}

.el-tree-node:not(.is-expanded) .el-tree-node__children {
    /*visibility: hidden;*/
    /*display: none !important;*/
    /*max-height: 0;*/
}

.el-alert {
    flex: none;
}

.is-message-box.fade-in-linear-enter-active,
.is-message-box.fade-in-linear-leave-active {
    transition: 300ms var(--ease-in-out-quint);
}

.is-message-box.fade-in-linear-enter-active > div[role="dialog"] {
    transition: 400ms var(--ease-in-bounce-1);
}

.is-message-box.fade-in-linear-leave-active > div[role="dialog"] {
    transition: 200ms var(--ease-in-quint);
}

.is-message-box.fade-in-linear-enter-from,
.is-message-box.fade-in-linear-leave-to {
    opacity: 0;
}

.is-message-box.fade-in-linear-enter-from > div[role="dialog"],
.is-message-box.fade-in-linear-leave-to > div[role="dialog"] {
    scale: 0.7;
}

.el-link {
    transition: 200ms var(--ease-in-out-quint);
}

.el-segmented {
    --el-segmented-item-hover-bg-color: var(--panel-bg-color-overlay) !important;
    background: var(--panel-bg-color) linear-gradient(180deg, rgba(255, 255, 255, 0.09) 0, transparent 2px calc(100% - 3px), rgba(0, 0, 0, 0.2) 100%) !important;
}

.el-segmented__item-selected {
    height: 3px !important;
    top: 100% !important;
    border-radius: 1.5px !important;
    transition: 250ms var(--ease-in-out-quint) !important;
}

.el-segmented__item {
    transition: 200ms var(--ease-in-out-quint);
}

.el-dropdown-menu__item {
    transition: 200ms var(--ease-in-out-quint);
}

.el-dropdown-menu__item:hover,.el-dropdown-menu__item:focus {
    background: var(--panel-bg-color-overlay) !important;
}

/*noinspection CssInvalidPseudoSelector*//*
input:autofill {
    transition: 1000000000000000000000s linear 100000000000000000000000s;
}

input:-webkit-autofill {
    transition: 1000000000000000000000s linear 100000000000000000000000s;
}*/