:root {
    --el-color-primary: #c1e2ea !important;
    --el-color-primary-1: #aac7ce !important;
    --el-color-primary-2: #94acb2 !important;
    --el-color-primary-3: #7d9398 !important;

    --ease-in-bounce: cubic-bezier(0.845, 0.545, 0.565, 1.335);
}

@media (prefers-color-scheme: dark) {
    :root {
        --el-color-primary: #aac7ce;
        --bg-color-alpha: rgba(20, 20, 20, 0.6);
        --panel-bg-color: rgba(128,128,128, 0.05);
        --panel-bg-color-overlay: rgba(128,128,128, 0.1);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --el-color-primary: #aac7ce;
        --bg-color-alpha: rgba(20, 20, 20, 0.6);
        --panel-bg-color: rgba(255,255,255, 0.1);
        --panel-bg-color-overlay: rgba(255,255,255, 0.2);
    }
}

.breadcrumb-item-leave-active .el-breadcrumb__separator {
    opacity: 0 !important;
}

.el-breadcrumb__separator {
    transition: 0.1s ease-in-out;
}

.el-button {
    transition: 200ms ease-in-out all !important;
}

.el-input {
    transition: 200ms ease-in-out all !important;
    background: var(--el-bg-color);
    border-color: rgba(128, 128, 128, 0.5) !important;
}

.splitpanes__splitter {
    min-width: 4px !important;
}

.splitpanes__pane {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-direction: column;
}

.splitpanes__pane > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: 0;
    overflow: auto;
    padding: 8px;
}

button.is-text {
    background: transparent;
}

button.is-text:hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0, var(--el-button-bg-color) 2px calc(100% - 2px), rgba(0, 0, 0, 0.08) 100%);
}

.el-notification {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0, var(--el-bg-color-overlay) 3px calc(100% - 3px), rgba(0, 0, 0, 0.1) 100%);
    border: none !important;
}

.el-breadcrumb__item {
    white-space: nowrap;
}

.el-tree-node__content {
    transition: 0.15s ease-in-out;
    border-radius: 4px;
}

.el-tree-node__content:hover button {
    width: auto;
    transition: opacity 0.15s ease-in-out;
    opacity: 1;
}

.el-tree-node__content button {
    opacity: 0;
}

.el-upload-list__item {
    margin-bottom: 0 !important;
}

.el-list-enter-active, .el-list-leave-active {
    transition: 0.6s var(--ease-in-bounce) !important;
}

.el-upload-list--picture-card .el-upload-list__item {
    position: relative !important;
}

.el-list-enter-from {
    margin-right: -148px !important;
    transform: translateX(50%) !important;
}

.el-list-leave-to {
    margin-right: -148px !important;
    opacity: 0 !important;
    transform: none !important;
}

.flex_blank_1 {
    flex: 1 1 0;
}

.noScrollBar::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

.noScrollBar {
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

/* 滚动条整体 */
div:not(.noScrollBar)::-webkit-scrollbar {
    width: 5px;
}

/* 两个滚动条交接处 -- x轴和y轴 */
div:not(.noScrollBar)::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* 滚动条滑块 */
div:not(.noScrollBar)::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--el-bg-color-overlay);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

/* 滚动条轨道 */
div:not(.noScrollBar)::-webkit-scrollbar-track {
    border-radius: 4px;
    background: rgba(0, 0, 0, 0);
}

/* 滚动条两端按钮 */
div:not(.noScrollBar)::-webkit-scrollbar-button {
    display: none;
}