@import './base.css';

div.container {
    border-radius: 8px;
    border: solid var(--el-border-color-extra-light) 1px;
}

div.panel {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

*.panel {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.09) 0, var(--panel-bg-color) 2px calc(100% - 3px), rgba(0, 0, 0, 0.2) 100%) !important;
    border-radius: 8px;
}

*.panel-1 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.09) 0, var(--panel-bg-color) 2px calc(100% - 3px), rgba(0, 0, 0, 0.2) 100%) !important;
    border-radius: 4px;
}

.question-content-input, .question-content-input textarea {
    min-height: 60px !important;
}

.svg-text-fill {
    fill: var(--el-text-color-secondary);
}

.svg-text-stroke {
    stroke: var(--el-text-color-secondary);
}

* {
    font-family: "HarmonyOS Sans", "微软雅黑", sans-serif;
}


.menuGroup .el-button .el-icon {
    margin-left: 1px;
    margin-right: 5px;
}

#top-bar, #menu-container {
    transition: 0.4s ease-out;
    transform: none;
}

.main-router-enter-from #menu-container {
    transform: translateX(-44px);
}

.main-router-enter-from #top-bar {
    transform: translateY(-44px);
}

#menu-avatar-button > span {
    flex: 1;
    overflow: hidden;
    max-width: 100%;
}

.main-router-enter-active .manage-page-router {
    transition: all 0.7s ease-out;
    transition-delay: 0.3s;
}

.main-router-enter-from .manage-page-router {
    opacity: 0;
    transform: scale(0.8) translateY(-80px) translateX(-150px);
}

.el-upload--picture-card {
    transition: 0.2s ease-in-out;
}

.menu-display-button > span{
    padding: 0 !important;
}

/*

.el-select-dropdown__list {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}

.el-select-dropdown__warp {
    display: flex !important;
    flex-direction: column !important;
    align-items: stretch !important;
    justify-content: stretch !important;
    justify-items: stretch !important;
}*/
