@import './base.css';

/*
@font-face {
    font-family: 'HarmonyOS Sans SC1';
    src: url('/checkIn/fonts/HarmonyOS_Sans_SC_Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
*/

div.container {
    border-radius: 8px;
    border: solid var(--el-border-color-extra-light) 1px;
}

div.panel {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

*.panel {
    background: var(--panel-bg-color) linear-gradient(180deg, rgba(255, 255, 255, 0.09) 0, transparent 2px calc(100% - 3px), rgba(0, 0, 0, 0.2) 100%);
    border-radius: 8px;
}

*.panel-1 {
    background: var(--panel-bg-color) linear-gradient(180deg, rgba(255, 255, 255, 0.09) 0, transparent 2px calc(100% - 3px), rgba(0, 0, 0, 0.2) 100%);
    border-radius: 4px;
}

*.panel-1.clickable, *.panel.clickable {
    cursor: pointer;
    transition: 300ms ease-in-out;
}

*.panel-1.clickable:hover, *.panel.clickable:hover {
    background-color: var(--panel-bg-color-overlay);
}

.question-content-input, .question-content-input textarea {
    min-height: 60px !important;
}

.svg-text-fill {
    fill: var(--icon-color);
}

.svg-text-stroke {
    stroke: var(--icon-color);
}

.el-button--primary .svg-text-fill {
    fill: var(--front-color-dark);
}

* {
    font-family: "HarmonyOS Sans SC", "微软雅黑", sans-serif;
}

.menuGroup .el-button .el-icon {
    margin-left: 1px;
    margin-right: 5px;
}

#top-bar, #menu-container {
    transition: 0.4s var(--ease-out-quint);
    transform: none;
}

.main-router-enter-from #menu-container {
    transform: translateX(-44px);
}

.main-router-enter-from #top-bar {
    transform: translateY(-44px);
}

#menu-avatar-button > span {
    flex: 1;
    overflow: hidden;
    max-width: 100%;
}

.main-router-enter-active .manage-page-router {
    transition: all 1s var(--ease-in-bounce-1);
    transition-delay: 0.3s;
}

.main-router-enter-from .manage-page-router {
    opacity: 0;
    transform: scale(0.8) translateY(-80px) translateX(-150px);
}

.el-upload--picture-card {
    transition: 0.2s var(--ease-in-out-quint);
}

.menu-display-button > span {
    padding: 0 !important;
}

.el-select.not-empty .el-select__selection:has( .el-select__selected-item:nth-child(2):is(.el-select__input-wrapper)) .el-tag__close {
    opacity: 0;
    width: 0;
}

.node-button svg {
    margin-left: 0 !important;
}

/*

.el-select-dropdown__list {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}

.el-select-dropdown__warp {
    display: flex !important;
    flex-direction: column !important;
    align-items: stretch !important;
    justify-content: stretch !important;
    justify-items: stretch !important;
}*/

.circular {
    display: none!important;
}