@import './base.css';

/*
@font-face {
    font-family: 'HarmonyOS Sans SC1';
    src: url('/checkIn/fonts/HarmonyOS_Sans_SC_Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
*/
:not(.disable-init-animate):not(.el-loading-mask) {
    --init-animation: init 400ms var(--ease-out-quint) 100ms;
}

.disable-init-animate {
    --init-animation: none;
}

*.init-animate {
    animation: var(--init-animation);
    animation-fill-mode: backwards;
}

*::selection {
    background: var(--selection-bg-color);
}

*::-moz-selection {
    background: var(--selection-bg-color);
}

div.panel {
    border: var(--border-1);
    display: flex;
    flex-direction: column;
    margin: 2px;
}

*.panel {
    border: var(--border-1);
    background: var(--root-panel-bg-color) var(--lighting-effect-background-1);
    border-radius: 8px;
    border-bottom-color: rgba(0,0,0,0) !important;
}

*.panel-1 {
    border: var(--border-1);
    background: var(--panel-bg-color) var(--lighting-effect-background-2);
    border-radius: 4px;
    border-bottom-color: rgba(0,0,0,0) !important;
}

*.panel-1:not(.disable-init-animate) {
    animation: var(--init-animation);
    animation-fill-mode: backwards;
    animation-delay: 100ms;
}

.panel-1:not(.disable-init-animate) .panel-1:not(.disable-init-animate) {
    animation-delay: 200ms;
}

.panel-1:not(.disable-init-animate) .panel-1:not(.disable-init-animate) .panel-1:not(.disable-init-animate) {
    animation-delay: 250ms;
}

@keyframes init {
    0% {
        margin-top: 12px;
        opacity: 0;
        transform: scale(0.97);
    }
    100% {
    }
}

*.panel-1.clickable, *.panel.clickable {
    cursor: pointer;
    transition: 300ms ease-in-out;
}

*.panel-1.clickable:not(.is-disabled):hover, *.panel.clickable:hover {
    background-color: var(--panel-bg-color-overlay);
}

.question-input textarea {
    min-height: 60px !important;
}

.svg-text-fill {
    fill: var(--icon-color) !important;
}

.svg-text-fill-1 {
    fill: var(--icon-color-1) !important;
}

.svg-text-stroke {
    stroke: var(--icon-color);
}

.el-button--primary .svg-text-fill {
    fill: var(--icon-color-reverse) !important;
}

.el-button--primary .svg-text-fill-1 {
    fill: var(--icon-color-reverse-1) !important;
}

* {
    font-family: "HarmonyOS Sans SC", "微软雅黑", sans-serif;
}

*:focus-visible {
    /*outline: solid 2px var(--el-color-primary);*/
}

#top-bar, #menu-container {
    transition: 0.4s var(--ease-out-quint);
    transform: none;
}

.main-router-enter-from #menu-container {
    transform: translateX(-44px);
}

.main-router-enter-from #top-bar {
    transform: translateY(-44px);
}

#menu-avatar-button > span {
    flex: 1;
    overflow: hidden;
    max-width: 100%;
}

.main-router-enter-active .manage-page-router {
    transition: all 0.6s var(--ease-in-bounce-1);
    transition-delay: 0.3s;
}

.main-router-enter-from .manage-page-router {
    opacity: 0;
    transform: translateX(-100px);
}

.el-upload--picture-card {
    transition: 0.2s var(--ease-in-out-quint);
}

.menu-display-button > span {
    padding: 0 !important;
}

.el-select.not-empty .el-select__selection:has( .el-select__selected-item:nth-child(2):is(.el-select__input-wrapper)) .el-tag__close {
    opacity: 0;
    width: 0;
}

.node-button svg {
    margin-left: 0 !important;
}

/*

.el-select-dropdown__list {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}

.el-select-dropdown__warp {
    display: flex !important;
    flex-direction: column !important;
    align-items: stretch !important;
    justify-content: stretch !important;
    justify-items: stretch !important;
}*/

.circular {
    display: none !important;
}

.slide-hide-base,
.smooth-height-base {
    display: grid;
    overflow: hidden;
    gap: 0;
    outline: 0;
    grid-template-rows: 1fr;
}

.smooth-height-base > *,
.slide-hide-base > * {
    min-height: 0 !important;
}

.slide-hide-leave-active {
    --phrase-1: 300ms;
    --phrase-2: 200ms;
    /*transition: transform 5s var(--ease-in-out-quint);*/
    transition: transform var(--phrase-1) var(--ease-in-quint),
    margin var(--phrase-2) var(--ease-in-out-quint) var(--phrase-1),
    grid-template-rows var(--phrase-2) var(--ease-in-out-quint) var(--phrase-1) !important;
    overflow: hidden;
}

.slide-hide-enter-active {
    --phrase-1: 200ms;
    --phrase-2: 300ms;
    transition: transform var(--phrase-2) var(--ease-out-quint) var(--phrase-1),
    margin var(--phrase-1) var(--ease-in-out-quint),
    grid-template-rows var(--phrase-1) var(--ease-in-out-quint) !important;
    overflow: hidden;
}

.slide-hide-enter-from {
    margin-top: 0 !important;
    transform: translateX(-100%);
    grid-template-rows: 0fr !important;
}

.slide-hide-leave-to {
    margin-top: 0 !important;
    transform: translateX(100%);
    grid-template-rows: 0fr !important;
}

.smooth-height-enter-active {
    transition:
            grid-template-rows 300ms var(--ease-in-out-quint),
            transform 200ms var(--ease-in-out-quint) 300ms,
            opacity 200ms var(--ease-in-out-quint) 300ms,
            filter 200ms var(--ease-in-out-quint) 300ms;
}

.smooth-height-leave-active {
    transition:
            grid-template-rows 300ms var(--ease-in-out-quint) 300ms,
            transform 200ms var(--ease-in-out-quint),
            opacity 200ms var(--ease-in-out-quint),
            filter 200ms var(--ease-in-out-quint);
}

.smooth-height-enter-from,
.smooth-height-leave-to {
    grid-template-rows: 0fr !important;
    transform: translateY(-20%);
    opacity: 0;
    filter: blur(32px);
}

.smooth-height-enter-to,
.smooth-height-leave-from {
    grid-template-rows: 1fr !important;
    transform: translateY(0);
    scale: 1;
    opacity: 1;
    filter: none;
}

/*
#app .v-md-textarea-editor textarea {
    color: var(--text-color);
    background: transparent;
    transition: 200ms ease-in-out;
}

#app .v-md-editor {
    padding: 8px 16px;
    flex: 1;
    box-sizing: border-box;
    background: var(--panel-bg-color) linear-gradient(180deg, rgba(255, 255, 255, 0.09) 0, transparent 2px calc(100% - 3px), rgba(0, 0, 0, 0.2) 100%);
    border-radius: 4px;
}

#app .v-md-editor--fullscreen {
    background: var(--fullscreen-bg-color);
    backdrop-filter: blur(32px);
    z-index: 20000;
}

#app .scrollbar__wrap {
    transition: background 200ms ease-in-out;
    background: transparent;
    border-radius: 4px;
    scrollbar-width: none;
    !*overflow: scroll;*!
    margin-right: 0 !important;
}

#app .scrollbar__wrap::-webkit-scrollbar {
    display: none;
}

#app .scrollbar__wrap:has(textarea):hover,
#app .scrollbar__wrap:has(textarea:focus) {
    background: var(--panel-bg-color) !important;
}

#app .v-md-editor__left-area-title,
#app .v-md-editor__toc-nav-title {
    color: var(--el-color-primary);
}

#app .v-md-editor__left-area-title:after,
#app .v-md-editor__left-area {
    border-color: var(--el-border-color-lighter);
}

#app .v-md-editor__toolbar {
    border-color: transparent;
}

#app .v-md-editor__editor-wrapper,
#app .v-md-editor__preview-wrapper {
    border-color: var(--el-border-color-lighter);
    padding: 16px;
}


#app .v-md-editor__toolbar-item {
    color: var(--el-text-color-secondary);
}

#app .v-md-editor__toolbar-item:hover {
    background-color: var(--panel-bg-color-overlay);
}

#app .v-md-editor__toolbar-item--active, #app .v-md-editor__toolbar-item--active:hover {
    background-color: var(--panel-bg-color-overlay);
}

#app .v-md-editor__toolbar-item:after {
    content: "";
    position: absolute;
    background: var(--el-color-primary);
    opacity: 0;
    width: 0;
    left: 50%;
    top: calc(100% - 2px);
    height: 2px;
    !*    border-radius: 1px;*!
    border-radius: 0 0 2px 2px;
    filter: blur(4px);
    transition: left 500ms cubic-bezier(.34, .26, .19, 1.18),
    width 500ms cubic-bezier(.34, .26, .19, 1.18),
    background-color 150ms var(--ease-in-out-quint),
    opacity 150ms var(--ease-in-quint) 100ms,
    filter 100ms var(--ease-in-out-quint) 100ms;
}

#app .v-md-editor__toolbar-item--active:after {
    opacity: 1;
    filter: none;
    width: 60%;
    left: 20%;
}

#app .v-md-editor__menu {
    border-radius: 4px !important;
    background: var(--popper-bg-color);
    transition: 0.2s var(--ease-in-out-quint);
    backdrop-filter: blur(32px);
}

#app .v-md-editor__menu-item {
    color: var(--text-color);
    transition: 200ms var(--ease-in-out-quint);
}

#app .v-md-editor__menu-item:hover {
    background: var(--panel-bg-color);
}

#app .v-md-editor__toolbar-divider::before {
    border-color: var(--el-border-color);
}

#app .v-md-editor__toolbar-item {
    margin-left: 4px;
}*/

.slide-switch-base {
    display: flex !important;
    flex-direction: row !important;
    overflow-x: hidden;
    flex: 1;
}

.slide-switch-base > * {
    width: 100%;
    max-width: 100%;
    flex: none;
}

.slide-switch-base.left-to-right > *:first-child {
    order: 2;
}

.slide-switch-base.left-to-right > *:nth-child(2) {
    order: 1;
}

.slide-left-to-right-enter-active,
.slide-left-to-right-leave-active,
.slide-right-to-left-enter-active,
.slide-right-to-left-leave-active {
    transition: 400ms var(--ease-in-out-quint);
}

.slide-left-to-right-enter-from {
    margin-left: -100%;
}

.slide-left-to-right-leave-to {
    opacity: 0.99999999999; /*to delay display switch*/
}

.slide-right-to-left-leave-to {
    margin-left: -100%;
}

/*noinspection CssUnusedSymbol*/
.blur-scale-enter-active, .blur-scale-leave-active {
    transition: all 0.3s var(--ease-in-out-quint);
}

/*noinspection CssUnusedSymbol*/
.blur-scale-enter-from, .blur-scale-leave-to {
    filter: blur(32px);
    opacity: 0;
    transform: scale(0.98);
}

.dialog-fade-enter-active,
.dialog-fade-enter-active .el-overlay-dialog {
    transition: filter var(--ease-in-out-quint) 300ms;
}

.dialog-input-label {
    margin-top: 8px;
    margin-bottom: 4px;
}

.md-editor {
    border: var(--border-1);
    background: var(--panel-bg-color) var(--lighting-effect-background-2) !important;
    border-radius: 4px;
    border-bottom-color: rgba(0,0,0,0) !important;
    backdrop-filter: blur(64px);
    padding: 16px;
}

.cm-editor {
    background: rgba(0,0,0,0) !important;
}

/*
.md-editor-toolbar-item[title]::after {
    content: attr(title);
    position: absolute;
    z-index: 2000;
}*/
.md-editor.preview-only {
    background: none !important;
    height: auto !important;
    backdrop-filter: none !important;
    border: none !important;
}

.preview-only .md-editor-toolbar-wrapper,
.preview-only .md-editor-input-wrapper,
.preview-only .md-editor-resize-operate,
.preview-only .md-editor-footer {
    display: none !important;
}