div[component_type="sliderBase"] {
    display: flex;
    flex-direction: row;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(128, 128, 128);

    /*width: 100%;*/
    flex: 1;

    margin: 0 8px;
}

div[component_type="slider"] {
    display: flex;
    /*height: 30px;*/
    align-items: center;
}

div[component_type="sliderPoint"] {
    display: flex;
    min-width: 18px;
    min-height: 18px;
    flex: 0;
    margin: -7px -9px;
    z-index: 1;
    /*margin-top: -7px;*/
    /*margin-bottom: -7px;*/
    /*margin-left: -10px;*/
    /*margin-right: -4px;*/
    background: var(--grey);
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    border: var(--border-color) solid 1px;
    /*border: rgb(240, 240, 240) solid 6px;*/
}

div[component_type="sliderPoint"] > div {
    width: 10px;
    height: 10px;
    border: var(--grey) solid 2px;
    /*margin: -5px;*/
    background: var(--highlight-component-background-color-hover);
    border-radius: 50%;
    /*transform: translate(-50%,-50%);*/
    transition: 140ms;
    transition-timing-function: ease-in-out;
}

div[component_type="sliderPoint"]:hover > div {
    width: 14px;
    height: 14px;
    /*border: var(--grey) solid 2px;*/
    /*margin: -7px;*/
    transition: 140ms;
    transition-timing-function: ease-in-out;
}

div[component_type="sliderPoint"][sliding="true"] > div {
    width: 8px;
    height: 8px;
    /*margin: -2px;*/
    transition: 140ms;
    transition-timing-function: ease-in-out;
}

span[component_type="sliderLine"] {
    display: block;
    height: 4px;
    border-radius: 2px;
}

span[component_type="sliderLine"]:last-of-type {
    background: var(--highlight-component-background-color-hover);
}