@media (prefers-color-scheme: dark) {
    :root {
        --font-color: rgba(200, 200, 200);
        --body-background-color: #0f0f10;
        --rounded-div-background-color: #19191a;
        --component-background-color: rgba(128, 128, 128, 0);
        --component-background-color-hover: rgba(128, 128, 128, 0.2);
        --input-background-color: rgba(128, 128, 128, 0.1);
        --input-background-color-hover: rgba(128, 128, 128, 0.2);
        --context-menu-background-color: rgba(25, 25, 25, 0.7);
        --context-menu-item-background-color-hover: rgba(128, 128, 128, 0.2);
        --highlight-component-background-color: rgba(61, 139, 255, 0.2);
        --highlight-component-background-color-hover: rgba(61, 139, 255, 0.4);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --font-color: rgb(23, 23, 23);
        --body-background-color: #f0f0f0;
        --rounded-div-background-color: #fff;
        --component-background-color: rgba(128, 128, 128, 0);
        --component-background-color-hover: rgba(128, 128, 128, 0.2);
        --input-background-color: rgba(128, 128, 128, 0.1);
        --input-background-color-hover: rgba(128, 128, 128, 0.2);
        --context-menu-background-color: rgba(230, 230, 230, 0.7);
        --context-menu-item-background-color-hover: rgba(128, 128, 128, 0.2);
        --highlight-component-background-color: rgba(61, 139, 255, 0.5);
        --highlight-component-background-color-hover: rgba(61, 139, 255, 0.7);
    }
}

#contentRoot {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /*background-color: #1e1e1e;*/
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--body-background-color);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', "微软雅黑", sans-serif;
    font-size: 16px;
    color: var(--font-color);
}

body > div > div[rounded] {
    border: 1px solid rgba(128, 128, 128, 0.2);
}

*[rounded] {
    border-radius: 8px;
    border: 0;
    padding: 4px;
    margin: 6px;
    background-color: var(--rounded-div-background-color);
}

button[rounded] {
    margin: 4px;
    padding: 8px;
}

*[border] {
    border: 1px solid rgba(128, 128, 128, 0.2);
}

*[highlight] {
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    background: var(--highlight-component-background-color);
}

*[highlight]:not([disabled]):hover {
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    background: var(--highlight-component-background-color-hover);
}

button, input[type=submit], input[type=button] {
    border-radius: 6px;
    border: 0;
    transition: 0.2s;
    color: var(--font-color);
    background: var(--component-background-color);
    cursor: pointer;
    user-select: none;
}

button:not([disabled]):hover, input[type=submit]:not([disabled]):hover, input[type=button]:not([disabled]):hover {
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    background: var(--component-background-color-hover);
    cursor: pointer;
}

.blank {
    flex: 1;
}

.forScroll {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    padding: 5px;
}

.line {
    height: 2px;
    margin: 4px;
    border-radius: 1px;
    background: rgba(128, 128, 128, 0.2);
    flex: none;
}

*[text] {
    color: var(--font-color);
    font-family: 'Roboto', "微软雅黑", sans-serif;
}

*[preText] {
    white-space: pre;
}

label[titleLabel] {
    margin: 8px;
    font-size: 18px;
}

div[clickable] {
    cursor: pointer;
    color: var(--font-color);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    background: var(--component-background-color);
    user-select: none;
}

div[clickable]:hover {
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    background: var(--component-background-color-hover);
}

div[clickable] > label {
    cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea,
button[clickable] {
    border-radius: 6px;
    transition: 0.2s;
    height: 40px;
    width: auto;
    margin: 4px;
    color: var(--font-color);
    background: var(--input-background-color);
    user-select: none;
    padding: 4px;
    outline: none;
    border: 0 rgba(0, 0, 0, 0);
    cursor: pointer;
}

input[disabled],
textarea[disabled],
button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

input[type="text"]:not([disabled]):focus,
input[type="password"]:not([disabled]):focus,
input[type="number"]:not([disabled]):focus,
textarea:not([disabled]):focus {
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    background: var(--input-background-color-hover);
    border-color: rgba(0, 0, 0, 0);
    outline: none;
    cursor: text;
}

input[type="text"]:not([disabled]):hover,
input[type="password"]:not([disabled]):hover,
input[type="number"]:not([disabled]):hover,
textarea:not([disabled]):hover,
button[clickable]:not([disabled]):hover {
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    background: var(--input-background-color-hover)
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

input::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
}

input[type="number"] {
    -moz-appearance: textfield;
}

select {
    background: var(--input-background-color);
    border: 0;
    border-radius: 4px;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    height: 40px;
    margin: 4px;
    color: var(--font-color);
    cursor: pointer;
}

select:hover {
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    background: var(--input-background-color-hover);
}

.title {
    margin: 8px
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.toggleSwitchBasic {
    cursor: pointer;
    border-radius: 15px;
    background: var(--context-menu-background-color);
    display: flex;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.toggleSwitchBasic[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.toggleSwitchDot {
    background: var(--font-color);
    opacity: 0.8;
    margin: 4px;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.toggleSwitchBasic:not([disabled='true']) .toggleSwitchDot:hover {
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    background: var(--font-color);
    opacity: 1;
}

div[component_type="shrinkButtonPointer"] >div:first-child {
    position: absolute;
    background: var(--font-color);
    width: 10px;
    height: 2px;
    border-radius: 1px;
    transform: translate(-2px, -1px) rotate(-45deg)
}

div[component_type="shrinkButtonPointer"] >div:last-child {
    position: absolute;
    background: var(--font-color);
    width: 10px;
    height: 2px;
    border-radius: 1px;
    transform: translate(-8px, -1px) rotate(45deg)
}