@media (prefers-color-scheme: dark) {
    :root {
        --font-color: rgba(200, 200, 200);
        --body-background-color: #0f0f10;
        --rounded-div-background-color: #19191a;
        --component-background-color: rgba(128, 128, 128, 0);
        --component-background-color-hover: rgba(128, 128, 128, 0.2);
        --input-background-color: rgba(128, 128, 128, 0.1);
        --input-background-color-hover: rgba(128, 128, 128, 0.2);
        --context-menu-background-color: rgba(25, 25, 25, 0.7);
        --context-menu-item-background-color-hover: rgba(128, 128, 128, 0.2);
        --highlight-component-background-color: rgba(61, 139, 255, 0.2);
        --highlight-component-background-color-hover: rgba(61, 139, 255, 0.4);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --font-color: rgb(23, 23, 23);
        --body-background-color: #f0f0f0;
        --rounded-div-background-color: #fff;
        --component-background-color: rgba(128, 128, 128, 0);
        --component-background-color-hover: rgba(128, 128, 128, 0.2);
        --input-background-color: rgba(128, 128, 128, 0.1);
        --input-background-color-hover: rgba(128, 128, 128, 0.2);
        --context-menu-background-color: rgba(230, 230, 230, 0.7);
        --context-menu-item-background-color-hover: rgba(128, 128, 128, 0.2);
        --highlight-component-background-color: rgba(61, 139, 255, 0.5);
        --highlight-component-background-color-hover: rgba(61, 139, 255, 0.7);
    }
}

#contentRoot {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /*background-color: #1e1e1e;*/
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--body-background-color);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--font-color);
}

body > div > div[rounded] {
    border: 1px solid rgba(128, 128, 128, 0.2);
}

*[rounded] {
    border-radius: 8px;
    border: 0px;
    padding: 4px;
    margin: 6px;
    background-color: var(--rounded-div-background-color);
}

*[border] {
    border: 1px solid rgba(128, 128, 128, 0.2);
}

*[highlight] {
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    background: var(--highlight-component-background-color);
}

*[highlight]:hover {
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    background: var(--highlight-component-background-color-hover);
}

button, input[type=submit], input[type=button] {
    border-radius: 6px;
    border: 0;
    transition: 0.2s;
    margin-right: 4px;
    color: var(--font-color);
    background: var(--component-background-color);
    cursor: pointer;
    user-select: none;
}

button:hover, input[type=submit]:hover, input[type=button]:hover {
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    background: var(--component-background-color-hover);
    cursor: pointer;
}

.blank {
    flex: 1;
}

.forScroll {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    padding: 5px;
}

div[clickable] {
    cursor: pointer;
    color: var(--font-color);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    background: var(--component-background-color);
    user-select: none;
}

div[clickable]:hover {
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    background: var(--component-background-color-hover);
}

div[clickable] > label {
    cursor: pointer;
}

*[text] {
    color: var(--font-color);
    font-family: 'Roboto', sans-serif;
}

*[preText] {
    white-space: pre;
}

label[titleLabel] {
    margin: 8px;
    font-size: 18px;
}

input[type="text"], input[type="password"], textarea {
    border-radius: 6px;
    transition: 0.2s;
    height: 40px;
    width: auto;
    margin: 4px;
    color: var(--font-color);
    background: var(--input-background-color);
    user-select: none;
    padding: 4px;
    outline: none;
    border: 0 rgba(0, 0, 0, 0);
    cursor: pointer;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    background: var(--input-background-color-hover);
    border-color: rgba(0, 0, 0, 0);
    outline: none;
    cursor: text;
}

input[type="text"]:hover, input[type="password"]:hover, textarea:hover {
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    background: var(--input-background-color-hover)
}

select {
    background: var(--input-background-color);
    border: 0;
    border-radius: 4px;
    height: 40px;
    margin: 4px;
    color: var(--font-color);
}

select:hover {
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    background: var(--input-background-color-hover)
}

.title {
    margin: 8px
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}