@media (prefers-color-scheme: dark) {
    :root {
        --menu-background-color: rgba(25, 25, 25, 0.7);
        --selected-question-background-color: rgba(61, 139, 255, 0.1);
        --selected-question-background-color-hover: rgba(61, 139, 255, 0.2);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --menu-background-color: rgba(250, 250, 250, 0.7);
        --selected-question-background-color: rgba(61, 139, 255, 0.4);
        --selected-question-background-color-hover: rgba(61, 139, 255, 0.5);
    }
}

.context-menu-list {
    border-radius: 8px;
    border: 0;
    padding: 4px;
    margin: 6px;
    background-color: var(--context-menu-background-color);
    -webkit-box-shadow: 3px 0 15px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 0 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
}

.context-menu-item {
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 8px;
    border: 0;
    background: none;
    color: var(--font-color);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.context-menu-item.context-menu-hover {
    background-color: var(--context-menu-item-background-color-hover);
    color: var(--font-color);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.context-menu-icon::before {
    color: var(--font-color);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.context-menu-item.context-menu-hover::before:hover {
    color: var(--font-color);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.context-menu-icon.context-menu-hover::before {
    color: var(--font-color);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

li[class="context-menu-item context-menu-separator context-menu-not-selectable"] {

}

.context-menu-item .context-menu-hover {
    border-radius: 8px;
    border: 0;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    background-color: var(--component-background-color-hover);
}

#top {
    height: 35px;
    flex: none;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
}

#content {
    height: calc(100% - 80px);
    flex: 1;

    opacity: 0;
}

#pagePath {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pagePath > div {
    /*display: inline-block;*/
    /*height: 100%;*/
    margin: 0 3px;
}

#pagePath > div > a {
    color: #fff;
    text-decoration: none;
}

#pagePath > div > a:hover {
    color: #aaa;
}

#menuButton {
    margin-right: 4px;
    width: 35px;
    height: 100%; /*35px*/
    flex: none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menuButton > div {
    background: var(--font-color);
    width: 18px;
    height: 2px;
    border-radius: 2px;
}

#menuButton > div:nth-child(2) {
    margin-top: 3px;
    margin-bottom: 3px;
}

#top > button:hover, #menuTop > button:hover {
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    background: var(--input-background-color-hover);
}

#menu {
    height: auto;
    width: 300px;
    margin: 6px 6px 6px -100%;
    display: flex;
    flex-direction: column;
    background: var(--menu-background-color);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    overflow: hidden;
}

#menuInsideButton {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    /*margin: 4px;*/
    padding: 0;
    margin: 0;
}

#menuTop {
    display: flex;
    flex-direction: column;
    height: 35px;
}

#topMask {
    width: 100%;
    z-index: 2;
    height: 100%;
    display: none; /*for js*/
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--context-menu-background-color);
    /*-webkit-backdrop-filter: blur(4px);*/
    /*backdrop-filter: blur(4px);*/
}

.keyValueItem > div[rounded] {
    background: var(--component-light-background-color);
}

.menuButtons > button {
    width: 100%;
    height: 35px;
    margin-top: 4px;
    padding-left: 16px;
    text-align: left;
}

#menuBottom {
    display: flex;
    flex-direction: row;
    height: 60px;
    margin: 0;
    padding: 0;
}

#userPanel {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 0 4px;
    padding: 4px;
}

#logoutButton {
    width: 60px;
    height: 60px;
    margin: 0 4px 0 0;
}

#managePage {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#managePage > div[rounded] {
    margin-top: 4px;
}

div[component_type="tip"] {
    font-size: 12px;
    word-wrap: break-word;
    pointer-events: auto;
    width: auto;
    margin: 0;
    box-shadow: 0 5px 15px black;
    min-height: 80px;
    padding: 8px;
}

#tipsMask {
    pointer-events: none;
    position: fixed;
    width: 300px;
    height: auto;
    bottom: 0;
    right: 8px;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.tipTop {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
}

.path {
    max-height: 25px;
    height: 25px;
    color: var(--font-color);
    line-height: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 0 4px 0 0;
}

.path * {
    cursor: pointer;
}

.path > div {
    rotate: -90deg;
    display: flex;
    align-items: center;
    width: 0;
    height: 25px;
    margin-right: 12px;
    margin-left: 4px;
    scale: 0.75;
}

.path > label {
    opacity: 0.75;
    transition: 200ms;
    transition-timing-function: ease-in-out;
}

.path:hover > label {
    opacity: 1 !important;
}

.path[undeleted] {
    opacity: 1;
}

#contentRoot {
    z-index: auto;
}

.subContentRoot {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    margin: 8px;
}

#dialog {
    min-width: 400px;
    width: fit-content;
    /*noinspection CssInvalidPropertyValue*/
    width: -moz-fit-content;
    max-width: 90%;
    min-height: 250px;
    height: fit-content;
    max-height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#topMask > div {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

.tipCloseButton {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 14px;
}

.tipTitle {
    font-size: 16px;
}