.questions {
    display: flex;
    flex-direction: column;
}

.question {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.question > .l1 {
    flex: 1;
    flex-direction: column;
}

.question > .l1 > div {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    /*justify-content: space-between;*/
    align-items: center;
    padding: 2px;
}

.question > .l2 {
    flex: 0;
    flex-direction: row;
}

.question > div{
    padding: 2px;
}

.question div[rounded]:not([component_type="shrinkButton"]){
    margin: 2px;
    background: var(--component-light-background-color);
}

.questionContent {
    white-space: normal;
    word-break: break-all;
    overflow: hidden;
}

.questionEnabled {
    flex: none;
}

.addButtons {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.questionType {
    flex: 0;
}

.addButtons > button {
    margin: 0 4px;
    font-size: 28px;
    height: 70px;
    flex: 1;
}

.questionChoices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.questionChoice {
    background-color: rgba(0, 0, 0, 0.15);
    color: var(--incorrect-choice-font-color);
}

.questionChoice[correct="true"] {
    color: var(--correct-choice-font-color);
}