.questions {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
}

.question {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.question[clickable] {
    cursor: pointer;
    background: rgba(0,0,0,0) !important;
}

.question[clickable] > div:nth-of-type(2) {
    background: rgba(0,0,0,0);
}

.question[clickable] > div:first-of-type,
.question[clickable] > div:nth-of-type(2) > div {
    background: var(--shrinkPane-background-color);
    transition: background-color 200ms;
    transition-timing-function: ease-in-out;
}

.question[clickable]:hover > div:first-of-type,
.question[clickable]:hover > div:nth-of-type(2) > div {
    background: var(--shrinkPane-background-color-hover);
}

.question[selected] {
    cursor: pointer;
    background: rgba(0,0,0,0) !important;
}

.question[selected] > div:nth-of-type(2) {
    background: rgba(0,0,0,0);
}

.question[selected] > div:first-of-type,
.question[selected] > div:nth-of-type(2) > div{
    background: var(--selected-question-background-color) !important;
    transition: background-color 200ms;
    transition-timing-function: ease-in-out;
}

.question[selected]:hover > div:first-of-type,
.question[selected]:hover > div:nth-of-type(2) > div{
    background: var(--selected-question-background-color-hover) !important;
}

.question > .l1 {
    flex: 1;
    flex-direction: column;
}

.question > .l1 > div {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    /*justify-content: space-between;*/
    align-items: center;
    padding: 2px;
}

.question > .l2 {
    flex: 0;
    flex-direction: row;
}

.question > div {
    padding: 0;
}

.questionActions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4px;
}

.questionOverviewImages {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row
}

.question div[rounded]:not([component_type="shrinkButton"]) {
    margin: 2px;
    background: var(--component-light-background-color);
}

.questionContent {
    white-space: normal;
    word-break: break-all;
    overflow: hidden;
}

.questionEnabled {
    flex: none;
}

.questionType {
    flex: 0;
}

.questionChoices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.questionChoice {
    background-color: rgba(0, 0, 0, 0.15);
    color: var(--incorrect-choice-font-color);
}

.questionChoice[correct="true"] {
    color: var(--correct-choice-font-color);
}