#managePage[index="3"][page-type="server"] .subContentRoot {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

#managePage[index="3"][page-type="server"] .settingBase{
    display: flex;
    flex-direction: column;
    padding: 16px;
}

#managePage[index="3"][page-type="server"] .settingDiv > div{
    /*height: 48px;*/
    display: flex;
    flex-direction: row;
}

#managePage[index="3"][page-type="server"] .settingDiv > div[textareaInput] {
    flex-direction: column;
}

#managePage[index="3"][page-type="server"] .settingDiv > div:not(*[textareaInput]) > *:nth-child(2) {
    flex: 1;
}

#managePage[index="3"][page-type="server"] .settingDiv > div > *:nth-child(1) {
    line-height: 32px;
    margin: 8px;
}

#managePage[index="3"][page-type="server"] .settingDiv textarea {
    resize: none;
    height: 100px;
}
