#managePage[index="4"][page-type="server"] .userAvatar {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    background-size: 100% 100%;
}

#managePage[index="4"][page-type="server"] a {
    color: var(--font-color);
}