#managePage[index="2"][page-type="user"] {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

#managePage[index="2"][page-type="user"] .userAvatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
}