#managePage[index="0"][page-type="user"] {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

#managePage[index="0"][page-type="user"] #searchDiv {
    width: 300px;
    margin-left: 2px;
    margin-top: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.waterfallColumn > * {
    flex: 1;
    flex-direction: column;
    align-content: normal;
    align-self: flex-start;
    margin-left: 2px;
    margin-top: 4px;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    flex-basis: auto;
}

.waterfallColumn {
    /*min-width: 450px;*/
    flex: 1;
}

#managePage[index="0"][page-type="user"] .userAvatar {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-size: 100% 100%;
}

#managePage[index="0"][page-type="user"] .userInfoDiv {
    margin-left: 10px;
    flex: 1;
}

#managePage[index="0"][page-type="user"] .operationButton{
    padding: 6px;
    margin: 2px;
}