:root {
    --el-mask-color: rgba(0, 0, 0, 0.3) !important;
    --ease-in-bounce: cubic-bezier(0.42, 0.62, 0.09, 1.23);
    --ease-in-out-bounce: cubic-bezier(0.860, 0.000, 0.235, 1.195);
    --ease-in-out-quint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
    --ease-out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
    --ease-in-quint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    --front-color-dark: rgba(15, 15, 15, 0.95);
    --front-color-light: rgba(240, 240, 240, 0.95);
    --mobile-width: 1080px;
    --el-transition-duration: 150ms !important;
    --splitter-bg-hover: rgba(255, 255, 255, 0.08);
    --splitter-bg-active: rgba(255, 255, 255, 0.06);
    --el-fill-color-blank: rgba(0, 0, 0, 0) !important;
    --text-color: var(--el-text-color);
    --border-color-1: rgba(128, 128, 128, 0.1);
    --border-1: solid 1px var(--border-color-1);
    --icon-color-dark: rgba(0, 0, 0, 0.95);
    --icon-color-dark-1: rgba(0, 0, 0, 0.5);
    --icon-color-light: rgba(255, 255, 255, 0.95);
    --icon-color-light-1: rgba(255, 255, 255, 0.5);
    --selection-bg-color: var(--el-color-primary-3);
}

.light:root {
    --el-text-color: rgb(10, 10, 10) !important;
    --el-text-color-regular: rgb(10, 10, 10) !important;
    --el-color-primary: #6b8399 !important;
    --el-color-primary-1: #627f8c !important;
    --el-color-primary-2: #596c80 !important;
    --el-color-primary-3: #506173 !important;
    --html-bg: rgb(240, 245, 245);
    --menu-shadow: 4px 0 32px rgba(0, 0, 0, 0.1);
    --menu-bg-color-alpha: rgba(240, 240, 240, 0.6);
    --panel-bg-color-overlay: rgba(200, 200, 200, 0.2);
    --panel-bg-color: rgba(200, 200, 200, 0.05);
    --root-panel-bg-color: rgba(255, 255, 255, 0.8);
    --fullscreen-bg-color: rgba(255, 255, 255, 0.9);
    --popper-bg-color: rgba(255, 255, 255, 0.75);
    --icon-color: var(--icon-color-dark);
    --icon-color-reverse: var(--icon-color-light);
    --front-color: var(--front-color-dark);
    --front-color-reverse: var(--front-color-light);
    --slider-button-color: rgb(255, 255, 255);
    --dialog-bg-color: rgba(255, 255, 255, 0.9);
    --dialog-footer-color: rgba(220, 220, 220, 0.6);
    --tree-node-bg-color: rgba(0, 0, 0, 0);
    --lighting-effect-background-1: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0, transparent 1px calc(100% - 2px), rgba(0, 0, 0, 0.08) 100%);
    --lighting-effect-background-2: linear-gradient(180deg, rgba(255, 255, 255, 0.075) 0, transparent 1px calc(100% - 2px), rgba(0, 0, 0, 0.06) 100%);
    --lighting-effect-background-3: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0, transparent 1px calc(100% - 2px), rgba(0, 0, 0, 0.03) 100%);
    --primary-button-text-color: rgba(255, 255, 255, 0.95);
    --border-color-2: rgba(50, 50, 50, 0.4);
    --border-2: solid 1px var(--border-color-2);
    --el-color-info: #646464;
}

.dark:root {
    --el-color-primary: #c1e2ea !important;
    --el-color-primary-1: #aac7ce !important;
    --el-color-primary-2: #94acb2 !important;
    --el-color-primary-3: #7d9398 !important;
    --html-bg: rgb(13, 15, 20);
    --menu-shadow: 4px 0 32px rgba(0, 0, 0, 0.7);
    --menu-bg-color-alpha: rgba(20, 20, 20, 0.6);
    --panel-bg-color: rgba(35, 35, 35, 0.3);
    --root-panel-bg-color: var(--panel-bg-color);
    --panel-bg-color-overlay: rgba(50, 50, 50, 0.3);
    --fullscreen-bg-color: rgba(20, 20, 20, 0.9);
    --popper-bg-color: rgba(20, 20, 20, 0.75);
    --icon-color: var(--icon-color-light);
    --icon-color-1: var(--icon-color-light-1);
    --icon-color-reverse: var(--icon-color-dark);
    --front-color: var(--front-color-light);
    --front-color-reverse: var(--front-color-dark);
    --slider-button-color: rgb(60, 60, 60);
    --dialog-bg-color: rgba(30, 30, 30, 0.6);
    --dialog-footer-color: rgba(10, 10, 10, 0.6);
    --tree-node-bg-color: rgba(0, 0, 0, 0);
    --selection-color: var(--el-color-primary);
    --lighting-effect-background-1: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0, transparent 1px calc(100% - 2px), rgba(0, 0, 0, 0.1) 100%);
    --lighting-effect-background-2: linear-gradient(180deg, rgba(255, 255, 255, 0.075) 0, transparent 1px calc(100% - 2px), rgba(0, 0, 0, 0.08) 100%);
    --lighting-effect-background-3: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0, transparent 1px calc(100% - 2px), rgba(0, 0, 0, 0.06) 100%);
    --primary-button-text-color: rgba(0, 0, 0, 0.95);
    --border-color-2: rgba(200, 200, 200, 0.4);
    --border-2: solid 1px var(--border-color-2);
    --el-color-info: #b8b8b8;
}

*:not(.el-divider) {
    border-color: var(--border-color-1) !important;
}

.breadcrumb-item-leave-active .el-breadcrumb__separator {
    opacity: 0 !important;
}

.el-breadcrumb__separator {
    transition: 0.2s var(--ease-in-out-quint);
}

.el-breadcrumb__inner.is-link {
    font-weight: normal !important;
}

.el-button {
    transform: scale(1);
    transition: all 200ms var(--ease-in-out-quint) !important;
}

.el-button--info {
    --el-button-text-color: var(--el-text-color-secondary) !important;
    --el-button-hover-text-color: var(--el-text-color) !important;
}

.el-button:not(.disable-init-animate) {
    animation: var(--init-animation);
    animation-fill-mode: backwards;
}

.el-button:active,
.el-upload--picture-card:active
    /*.v-md-editor__toolbar li:active*/
{
    transform: scale(0.98);
}

.el-date-editor--daterange,
.el-input {
    background: var(--el-bg-color);
    border: var(--border-1) !important;
    min-height: 32px;
    --el-input-inner-height: calc(var(--el-input-height, 32px) - 4px) !important;
}

.el-date-editor--daterange:not(.disable-init-animate),
.el-input:not(.disable-init-animate) {
    animation: var(--init-animation);
    animation-fill-mode: backwards;
}

.el-input-number:not(.disable-init-animate) {
    animation: var(--init-animation);
    animation-fill-mode: backwards;
}

.el-input-number > .el-input {
    animation: none;
}

#app .el-input-number span {
    border: none !important;
}

.el-slider {
    animation: var(--init-animation);
    animation-fill-mode: backwards;
}

.md-editor-resize-operate {
    background: var(--panel-bg-color) !important;
}

.md-editor {
    --md-scrollbar-bg-color: rgba(0, 0, 0, 0) !important;
    --md-scrollbar-thumb-color: var(--el-scrollbar-bg-color) !important;
    --md-scrollbar-thumb-hover-color: var(--el-scrollbar-hover-bg-color) !important;
    --md-bk-color-outstand: var(--panel-bg-color-overlay) !important;
    /*--md-color: var(--el-text-color) !important;*/
}

.cm-scroller {
    overflow: auto !important;
}

.splitpanes {
    display: flex;
    width: 100%;
    height: 100%;
}

.splitpanes--vertical {
    flex-direction: row;
}

#app:has(.md-editor-resize-operate:active) *,
#app:has(.splitpanes__splitter:active) * {
    user-select: none !important;
}

#app:has(.md-editor-resize-operate:active) *,
#app:has(.splitpanes--vertical > .splitpanes__splitter:active) * {
    cursor: col-resize !important;
}

#app:has(.splitpanes--horizonal > .splitpanes__splitter:active) * {
    cursor: row-resize !important;
}

.md-editor-resize-operate,
.splitpanes__splitter {
    transition: background-color 300ms var(--ease-in-out-quint);
    border-radius: 4px !important;
    min-width: 8px !important;
    min-height: 8px !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.md-editor-content .md-editor-resize-operate[style*="display: none;"] {
    display: none !important;
}

/*noinspection SpellCheckingInspection*/
.md-editor-resize-operate:hover,
.splitpanes__splitter:hover {
    background: var(--splitter-bg-hover) !important;
}

/*noinspection SpellCheckingInspection*/
.md-editor-resize-operate:active,
.splitpanes__splitter:active {
    background: var(--splitter-bg-active) !important;
}

/*noinspection SpellCheckingInspection*/
.md-editor-resize-operate::after,
.splitpanes--vertical .splitpanes__splitter::after {
    transition: 200ms var(--ease-in-out-quint);
    content: "";
    display: block;
    background: var(--el-color-primary-3);
    opacity: 0.5;
    width: 4px;
    height: 32px;
    border-radius: 2px;
    align-self: center;
    justify-self: center;
}

/*noinspection SpellCheckingInspection*/
.splitpanes--horizontal .splitpanes__splitter::after {
    transition: 400ms var(--ease-in-out-quint);
    content: "";
    display: block;
    background: var(--el-color-primary-3);
    opacity: 0.25;
    width: 32px;
    height: 4px;
    border-radius: 2px;
    align-self: center;
    justify-self: center;
}

/*noinspection SpellCheckingInspection*/
.md-editor-resize-operate:hover::after,
.splitpanes--vertical .splitpanes__splitter:hover::after {
    height: 44px !important;
    opacity: 0.75 !important;
}

/*noinspection SpellCheckingInspection*/
.md-editor-resize-operate:active::after,
.splitpanes--vertical .splitpanes__splitter:active::after {
    height: 20px !important;
    opacity: 1 !important;
}

/*noinspection SpellCheckingInspection*/
.splitpanes--horizontal .splitpanes__splitter:hover::after {
    width: 44px !important;
    opacity: 0.75 !important;
}

/*noinspection SpellCheckingInspection*/
.splitpanes--horizontal .splitpanes__splitter:active::after {
    width: 20px !important;
    opacity: 1 !important;
}

/*noinspection SpellCheckingInspection*/
.splitpanes__pane {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-direction: column;
    transition: none !important;
}

/*noinspection SpellCheckingInspection*/
.splitpanes__pane > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: 0;
    overflow: auto;
    padding: 8px;
    margin: 0 !important;
}

.cm-cursor {
    background-color: var(--front-color);
    opacity: 0.75;
}

.md-editor-btn {
    background: var(--button-bg-color) var(--lighting-effect-background-2);
    --md-bk-color: rgba(0,0,0,0);
    transition: 0.2s var(--ease-in-out-quint);
}

.md-editor-btn:hover {
    background-color: var(--panel-bg-color-overlay) !important;
}

.el-button:not(.is-text):not(.is-link) {
    --button-bg-color: var(--panel-bg-color);
    background: var(--button-bg-color) var(--lighting-effect-background-2);
    border: var(--border-1) !important;
    /*padding: 0 !important;*/
    display: flex;
    transition: 0.2s var(--ease-in-out-quint);
}

.el-button:not(.is-text):not(.is-link):not(.is-disabled):hover {
    background-color: var(--panel-bg-color-overlay) !important;
    /*--button-bg-color: var(--panel-bg-color-overlay);*/
}

.el-button.is-link {
    border: none !important;
}

.el-button.is-disabled {
    opacity: 0.7 !important;
}

.el-button:not(.is-disabled):not(.is-link):hover {
    background-color: var(--panel-bg-color-overlay) !important;
    /*--button-bg-color: var(--panel-bg-color-overlay);*/
}

.el-button.is-text:not(.is-disabled):hover {
    background: var(--panel-bg-color-overlay) var(--lighting-effect-background-2) !important;
}

.el-button.is-text {
    transition: 200ms var(--ease-in-out-quint);
    background: transparent !important;
}

.el-select-dropdown__item {
    border-radius: 4px;
    margin: 0 4px;
    transition: 200ms var(--ease-in-out-quint);
    background: transparent !important;
}

.el-select-dropdown__item.is-hovering {
    background: var(--panel-bg-color-overlay) !important;
}

.el-select-dropdown__item.is-disabled {
    opacity: 0.5;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.is-selected:after {
    content: none !important;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 0;
    width: 3px;
    opacity: 0;
    filter: blur(2px);
    background: var(--el-color-primary);
    border-radius: 1.5px;
    transition: 200ms var(--ease-in-bounce);
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.is-selected:before {
    top: 20%;
    left: 0;
    height: 60%;
    opacity: 1;
    filter: none;
}

.el-button.is-text:not(.is-disabled):hover {
    background: var(--lighting-effect-background-2);
}

.el-button.el-button--primary:not(.is-text):not(.is-link) {
    color: var(--primary-button-text-color) !important;
    --el-button-text-color: var(--primary-button-text-color) !important;
    --front-color: var(--primary-button-text-color);
    background-color: var(--el-color-primary-3) !important;
}

.el-button.el-button--primary:not(.is-text):not(.is-link) .el-text {
    color: var(--primary-button-text-color) !important;
    --front-color: var(--primary-button-text-color);
}

.el-button.el-button--primary:not(.is-text):not(.is-link):not(.is-disabled):hover {
    background-color: var(--el-color-primary) !important;
}

.el-button.is-link {
    padding: 0 8px !important;
}

.el-button.is-link > * {
    transition: opacity 0.2s var(--ease-in-out-quint);
}

.el-button.is-link:not(.is-disabled):hover > * {
    opacity: 0.5;
}

.el-notification {
    --el-notification-width: min(400px, calc(100dvw - 32px)) !important;
    transition: 400ms 200ms var(--ease-out-quint) !important;
    background-color: var(--panel-bg-color) !important;
    backdrop-filter: blur(32px);
    background: var(--lighting-effect-background-1);
    border: var(--border-1) !important;
    padding: 16px !important;
}

.el-notification__group {
    width: 100%;
}

.el-notification-fade-leave-active {
    transition: transform 200ms 80ms var(--ease-in-quint), scale 100ms 0ms var(--ease-in-out-quint), bottom 100ms 0ms var(--ease-in-out-quint) !important;
}

.el-notification-fade-leave-to {
    opacity: 1 !important;
    scale: 0.9 !important;
    transform: translateX(calc(100% + 40px)) !important;
}

.el-notification__content p {
    word-break: break-word;
}

.el-popper * {
    color: var(--front-color);
}

.el-picker-panel {
    background: var(--panel-bg-color) var(--lighting-effect-background-1) !important;
}

.el-upload-list__item {
    background-color: var(--panel-bg-color) !important;
}

.el-upload--picture-card, .el-upload-list__item {
    border: var(--border-1) !important;
    background: var(--panel-bg-color) var(--lighting-effect-background-1);
    transition: --base-bg-color 150ms var(--ease-in-out-quint);
}

.el-upload--picture-card:not(.is-disabled):hover {
    background-color: var(--panel-bg-color-overlay);
}

.el-breadcrumb__item {
    white-space: nowrap;
}

.el-tree__drop-indicator {
    transition: 0.2s var(--ease-in-bounce);
}

.el-tree-node__content {
    transition: 0.15s var(--ease-in-out-quint);
    border-radius: 4px;
}

.el-tree-node__content {
    background: var(--tree-node-bg-color);
}

.el-tree-node__content:hover {
    background: var(--panel-bg-color-overlay) var(--lighting-effect-background-2) !important;
}

.is-current > .el-tree-node__content {
    background: var(--panel-bg-color-overlay) var(--lighting-effect-background-2) !important;
}

.el-tree-node__content:has(.disable-tree-item-hover), .el-tree-node__content:has(.disable-tree-item-focus) {
    background: transparent !important;
    cursor: default;
}

.el-upload-list__item {
    margin-bottom: 0 !important;
}

.el-upload-list--picture-card .el-list-enter-active,
.el-upload-list--picture-card .el-list-leave-active {
    transition: 0.6s var(--ease-in-bounce) !important;
}

.el-upload-list--picture-card .el-upload-list__item {
    position: relative !important;
}

.el-upload-list--picture-card .el-list-enter-from {
    margin-right: -148px !important;
    transform: translateX(50%) !important;
    filter: blur(8px);
}

.el-upload-list--picture-card .el-list-leave-to {
    margin-right: -148px !important;
    opacity: 0 !important;
    transform: none !important;
    filter: blur(8px);
}

.flex-blank-1 {
    flex: 1 1 0;
}

.el-checkbox__input, .el-checkbox__inner {
    width: 20px !important;
    height: 20px !important;
    border-radius: 4px !important;
}

.el-checkbox__inner {
    --el-checkbox-checked-icon-color: var(--front-color-reverse);
}

.el-checkbox__inner:after {
    top: 4px !important;
    left: 7px !important;
    border-width: 2px !important;
    border-radius: 1px;
    transition: 200ms var(--ease-in-bounce) !important;
}

.el-checkbox__inner:before {
    top: 7px !important;
}

.el-date-editor--daterange {
    border-radius: 4px;
    margin: 0;
    background: var(--lighting-effect-background-2);
    transition-delay: 50ms;
    height: 100%;
    place-items: baseline !important;
}

.el-input > *, .el-textarea > *, .el-select__wrapper {
    border-radius: 4px;
    margin: 0;
    background: var(--lighting-effect-background-2) !important;
    transition-delay: 50ms;
    height: 100%;
    place-items: baseline !important;
}

.el-input__suffix {
    align-self: center;
}

.el-select__suffix {
    place-self: center;
}

.el-input__inner {
    background-clip: text !important;
    height: initial !important;
}

/*.el-input__wrapper.is-focus, .el-select__wrapper.is-focused {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0, transparent 3px calc(100% - 3px), var(--el-color-primary) calc(100% - 1.5px) 100%) !important;
}*/

.el-input__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center !important;
}

.el-input__inner {
    align-self: stretch !important;
    text-align: inherit;
}

.el-checkbox__inner, .el-radio__inner {
    border: var(--border-2) !important;
    background-clip: padding-box;
    transition: 200ms var(--ease-in-out-quint);
}

.el-date-editor--daterange,
.el-input:not(.is-focus) > div,
.el-textarea,
.el-textarea > textarea,
.el-select__wrapper {
    border-radius: 4px !important;
    box-shadow: none !important;
}

.el-select__wrapper {
    line-height: 22px !important;
    min-height: 30px !important;
    align-items: center !important;
}

.el-input--small {
    border-radius: 3px;
}

.el-select__input {
    height: 22px !important;
}

.el-select__selection {
    min-height: 22px !important;
}

#app .el-date-editor--daterange,
.md-editor-input,
.el-textarea, .el-input, .el-select {
    box-sizing: border-box;
    border-radius: 4px !important;
    background: var(--panel-bg-color);
    transition: var(--ease-in-out-quint) 0.2s;
    border: var(--border-1) !important;
    --md-bk-color: rgba(0, 0, 0, 0);
}

.el-select__selection {
    min-height: 24px;
    align-self: baseline;
}

.el-checkbox__input {
    border-radius: 4px !important;
    background: var(--lighting-effect-background-2);
}

#app .el-date-editor--daterange:not(.is-disabled):hover,
#app .el-date-editor--daterange:not(.is-disabled).is-active,
.el-textarea:not(.is-disabled):hover,
.el-input:not(.is-disabled):hover,
.el-select:not(.is-disabled):hover {
    background: var(--panel-bg-color-overlay);
}

.el-tabs__nav-wrap:after {
    transition-timing-function: var(--ease-in-out-quint);
}

.el-tabs {
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.el-tabs__content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.el-tabs__content > .el-tab-pane {
    max-height: 100%;
    flex: 1;
}

.question-input {
    position: relative;
    margin-bottom: 8px;
}

.el-date-editor--daterange::after,
.question-input::after,
.el-input::after, .el-textarea::after, .el-select::after, .el-checkbox::after {
    content: "";
    position: absolute;
    background: var(--el-color-primary);
    opacity: 0;
    width: 0;
    left: 50%;
    top: calc(100% - 3px);
    height: 2px;
    border-radius: 0 0 2px 2px;
    filter: blur(4px);
    transition: left 500ms cubic-bezier(.34, .26, .19, 1.18),
    width 500ms cubic-bezier(.34, .26, .19, 1.18),
    background-color 150ms var(--ease-in-out-quint),
    opacity 150ms var(--ease-in-quint) 100ms,
    filter 100ms var(--ease-in-out-quint) 100ms;
}

.el-select::after {
    top: calc(100% - 4px);
}

.el-date-editor--daterange.is-active::after,
.md-editor-input:focus::after,
.el-input:has(.is-focus)::after, .el-textarea:has(textarea:focus)::after, .el-select:has(.is-focused)::after,
.el-input-number.error > .el-input::after, .el-input-number.warning > .el-input::after,
.question-input.warning::after,
.el-date-editor--daterange.warning::after,
.el-input.warning::after, .el-textarea.warning::after, .el-select.warning::after, .el-checkbox.warning::after,
.question-input.error::after,
.el-date-editor--daterange.error::after,
.el-input.error::after, .el-textarea.error::after, .el-select.error::after, .el-checkbox.error::after {
    opacity: 1;
    width: 98%;
    left: 1%;
    filter: none;
}

.el-date-editor--daterange.warning::after,
.el-input-number .el-input:has(.is-focus)::after,
.el-input-number .el-input.warning::after,
.el-input-number .el-input.error::after {
    width: calc(98% - 70px);
    left: calc(1% + 35px);
}

.el-date-editor--daterange.error::after,
.el-input-number.is-without-controls .el-input:has(.is-focus)::after,
.el-input-number.is-without-controls .el-input.warning::after,
.el-input-number.is-without-controls .el-input.error::after {
    width: 98%;
    left: 1%;
}

.el-input-number .el-input-number__decrease,
.el-input-number .el-input-number__increase {
    transition: 200ms var(--ease-in-out-quint);
    width: 26px !important;
    height: 26px !important;
    background: none;
    border: var(--border-1);
    margin: 2px 4px;
    border-radius: 4px;
}

.el-date-editor--daterange:hover,
.el-input-number .el-input-number__decrease:hover,
.el-input-number .el-input-number__increase:hover {
    background: var(--panel-bg-color-overlay);
}

.question-input.error::after,
.el-input-number.error > .el-input::after,
.el-input.error::after, .el-textarea.error::after, .el-select.error::after, .el-checkbox.error::after {
    background: var(--el-color-danger) !important;
}

.question-input.warning::after,
.el-input-number.warning > .el-input::after,
.el-input.warning::after, .el-textarea.warning::after, .el-select.warning::after, .el-checkbox.warning::after {
    background: var(--el-color-warning);
}

.el-tag__close {
    opacity: 1;
    transition: 100ms var(--ease-in-out-quint);
}

.el-tag__close:hover {
    background: none !important;
    opacity: 0.4;
}

.el-tag, .el-check-tag {
    background: var(--el-tag-bg-color) var(--lighting-effect-background-3);
    border: var(--border-1) !important;
    transition: background-color 200ms var(--ease-in-out-quint);
    font-weight: normal !important;
    text-align: center;
    height: auto !important;
    min-height: 22px !important;
    padding: 2px 9px !important;
}

.el-tag__content {
    color: var(--el-tag-text-color);
}

.el-check-tag {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}

.el-check-tag--primary {
    --el-text-font-size: var(--el-font-size-base) !important;
    font-size: var(--el-text-font-size);
    color: var(--el-text-color-regular) !important;
}

.el-check-tag::after {
    transition: var(--ease-in-out-quint) 300ms;
    content: "";
    position: relative;
    width: 20%;
    left: 40%;
    opacity: 0;
    height: 3px;
    background: var(--el-color-primary);
    border-radius: 1.5px !important;
    display: block;
    margin-top: 4px;
    margin-bottom: -8px;
}

.el-check-tag.is-checked::after {
    width: max(calc(100% - 8px), 60%) !important;
    left: min(4px, 20%) !important;
    opacity: 1 !important;
    margin-top: 4px !important;
}

.el-tag__content {
    transition: 200ms var(--ease-in-out-quint);
    word-break: break-all;
    white-space: break-spaces;
    text-align: start;
}

.md-editor-dropdown,
.el-popper, .el-message-box, .v-md-editor__tooltip {
    border: var(--border-1) !important;
    background: var(--popper-bg-color) var(--lighting-effect-background-2) !important;
    backdrop-filter: blur(16px) !important;
    border-radius: 4px !important;
}

.el-popper[data-popper-placement^=bottom] .el-popper__arrow:before,
.el-popper[data-popper-placement^=top] .el-popper__arrow:before {
    background: var(--popper-bg-color) !important;
    backdrop-filter: blur(8px) !important;
}

.el-popper[data-popper-placement^=bottom] .el-popper__arrow:before {
    border-color: rgba(255, 255, 255, 0.1) !important;
}

.el-popper[data-popper-placement^=top] .el-popper__arrow:before {
    border-color: rgba(0, 0, 0, 0.1) !important;
}

.el-popper:has(.no-pop-padding) {
    padding: 0 !important;
}

.el-scrollbar__bar {
    transition: 300ms var(--ease-in-out-quint);
    opacity: 1;
}

.el-scrollbar.hide-bars .el-scrollbar__bar {
    display: none !important;
}

.el-scrollbar__bar.is-vertical {
    display: flex;
    flex-direction: row-reverse;
}

.el-scrollbar__bar.is-horizontal {
    display: flex;
    flex-direction: column-reverse;
}

.md-editor-custom-scrollbar__track .md-editor-custom-scrollbar__thumb,
.el-scrollbar__bar.is-vertical .el-scrollbar__thumb {
    transition: background-color 150ms var(--ease-in-out-quint),
    width 150ms var(--ease-in-out-quint),
    margin 150ms var(--ease-in-out-quint),
    opacity 150ms var(--ease-in-out-quint) !important;
    width: 3px !important;
    background: var(--el-scrollbar-bg-color) !important;
}

.md-editor-custom-scrollbar__track .md-editor-custom-scrollbar__thumb {
    margin-left: 3px;
}

.el-scrollbar__bar.is-horizontal .el-scrollbar__thumb {
    transition: background-color 100ms var(--ease-in-out-quint),
    height 150ms var(--ease-in-out-quint),
    opacity 150ms var(--ease-in-out-quint) !important;
    height: 3px !important;
    background: var(--el-scrollbar-bg-color) !important;
}

.md-editor-custom-scrollbar__thumb,
.el-scrollbar__thumb {
    opacity: 0.5;
}

.md-editor-custom-scrollbar__track:hover .md-editor-custom-scrollbar__thumb,
.md-editor-custom-scrollbar__track .md-editor-custom-scrollbar__thumb:active,
#app .el-scrollbar__bar.is-vertical:hover > .el-scrollbar__thumb,
#app .el-scrollbar__bar.is-vertical > .el-scrollbar__thumb:active {
    width: 6px !important;
    background: var(--el-scrollbar-bg-color) !important;
    opacity: 0.75;
    margin-left: 0;
}

#app .el-scrollbar__bar.is-horizontal:hover > .el-scrollbar__thumb,
#app .el-scrollbar__bar.is-horizontal > .el-scrollbar__thumb:active {
    height: 6px !important;
    background: var(--el-scrollbar-bg-color) !important;
    opacity: 0.75;
}

.el-upload-list .el-icon--close-tip {
    display: none !important;
}

.el-button--primary .loader {
    border-color: var(--front-color-dark) #0000 !important;
}

.el-icon.el-tree-node__loading-icon.is-loading svg {
    display: none;
}

.el-icon.el-tree-node__loading-icon.is-loading {
    width: 16px !important;
    order: -1;
    margin-left: 3px;
    margin-right: -21px;
    margin-top: 1px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1.5px solid;
    border-color: var(--front-color) #0000 !important;
    animation: l1 0.8s var(--ease-in-bounce) infinite;
}

.el-tree-node__expand-icon {
    transition: all 200ms var(--ease-in-out-bounce) !important;
}

.el-tree-node__content:has(.el-tree-node__loading-icon) .el-tree-node__expand-icon {
    opacity: 0;
}

@keyframes l1 {
    to {
        transform: rotate(.5turn)
    }
}

.el-tree-node__content:has(.disable-tree-checkbox) .el-checkbox {
    display: none;
}

.el-loading-mask {
    backdrop-filter: blur(8px);
    display: flex !important;
    justify-content: center !important;
    background: transparent !important;
}

/* HTML: <div class="loader"></div> */
.el-loading-spinner {
    width: 32px !important;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid;
    border-color: var(--front-color) #0000 !important;
    animation: l1 0.8s var(--ease-in-bounce) infinite;
}

@keyframes l1 {
    to {
        transform: rotate(.5turn)
    }
}

.el-switch__core {
    --el-switch-off-color: var(--panel-bg-color);
    border: var(--border-2) !important;
}

#app .el-switch__core .el-switch__action {
    left: 4px;
    background-color: var(--front-color);
    transition: 400ms var(--ease-in-bounce);
    width: 12px;
    height: 12px;
}

#app .el-switch.is-checked .el-switch__action {
    --el-switch-on-color: var(--front-color-reverse);
    background-color: var(--el-switch-on-color) !important;
    left: calc(100% - 16px);
}

.el-switch:not(.disable-init-animate) {
    transition: 200ms var(--ease-in-out-quint);
    animation: var(--init-animation);
    animation-fill-mode: backwards;
}

.el-tree-node {
    transition: all 0.3s var(--ease-out-quint) !important;
    display: grid;
    grid-template-rows: 0fr 0fr;
}

.el-tree-node.is-expanded {
    grid-template-rows: 0fr 1fr;
}

.el-collapse-transition-enter-active {
    transition: all 0.3s var(--ease-out-quint), visibility 0s 0s !important;
}

.el-collapse-transition-leave-active {
    transition: all 0.3s var(--ease-in-quint), visibility 0s 0.3s !important;
}

.el-collapse-transition-enter-from, .el-collapse-transition-leave-to {
    visibility: hidden;
}

#app .el-tree-node__children {
    max-height: max-content !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.el-alert {
    flex: none;
}

.dialog-fade-enter-active,
.dialog-fade-leave-active,
.is-message-box.fade-in-linear-enter-active,
.is-message-box.fade-in-linear-leave-active {
    transition: 300ms var(--ease-in-out-quint);
}

.dialog-fade-enter-active > div[role="dialog"],
.is-message-box.fade-in-linear-enter-active > div[role="dialog"] {
    transition: 400ms var(--ease-in-bounce);
}

.dialog-fade-leave-active > div[role="dialog"],
.is-message-box.fade-in-linear-leave-active > div[role="dialog"] {
    transition: 200ms var(--ease-in-quint);
}

.el-overlay {
    --el-overlay-color-lighter: rgba(0, 0, 0, 0.2) !important;
}

.dialog-fade-enter-active .el-overlay-dialog,
.dialog-fade-enter-active,
.dialog-fade-leave-active .el-overlay-dialog,
.dialog-fade-leave-active,
.fade-in-linear-enter-active .el-overlay-message-box,
.fade-in-linear-leave-active .el-overlay-message-box {
    animation: none !important;
}

.dialog-fade-enter-from,
.dialog-fade-leave-to,
.is-message-box.fade-in-linear-enter-from,
.is-message-box.fade-in-linear-leave-to {
    opacity: 0;
}


.dialog-fade-enter-from > div[role="dialog"],
.dialog-fade-leave-to > div[role="dialog"],
.is-message-box.fade-in-linear-enter-from > div[role="dialog"],
.is-message-box.fade-in-linear-leave-to > div[role="dialog"] {
    scale: 0.7;
}

.el-link {
    transition: 200ms var(--ease-in-out-quint);
}

.el-segmented {
    --el-segmented-item-selected-color: var(--front-color) !important;
    --el-segmented-item-hover-bg-color: var(--panel-bg-color-overlay) !important;
    background: var(--panel-bg-color) var(--lighting-effect-background-2) !important;
    border: var(--border-1) !important;
}

.el-segmented__item-selected {
    background: none !important;
    height: 3px !important;
    top: 100% !important;
    transition: 250ms var(--ease-in-out-quint) !important;
    margin-top: -2px !important;
    position: relative;
    display: flex;
}

.el-segmented__item-selected::after {
    content: "";
    position: relative;
    width: 60%;
    left: 20%;
    height: 3px;
    background: var(--el-color-primary);
    border-radius: 1.5px !important;
    display: block;
}

.el-segmented__item-selected.is-disabled::after {
    background: var(--el-color-primary-3);
}

.el-segmented__item {
    transition: 200ms var(--ease-in-out-quint);
}

.el-dropdown-menu__item {
    transition: 200ms var(--ease-in-out-quint);
}

.el-dropdown-menu__item:hover, .el-dropdown-menu__item:focus {
    background: var(--panel-bg-color-overlay) !important;
}

.el-segmented__item-label > .el-text {
    margin: 0 !important;
}

.md-editor-modal,
.el-message-box,
.el-dialog {
    border-radius: 8px !important;
    background: var(--dialog-bg-color) var(--lighting-effect-background-2) !important;
    backdrop-filter: blur(32px);
    padding: 0 !important;
}

.el-message-box__header,
.el-dialog__header {
    height: 40px !important;
    padding: 20px 24px 0 24px !important;
    display: flex;
}

.el-message-box__content,
.el-dialog__body {
    padding: 12px 24px;
}

/*noinspection SpellCheckingInspection*/
.el-message-box__btns,
.el-dialog__footer {
    display: flex;
    justify-items: stretch;
    justify-content: stretch;
    padding: 16px 24px !important;
    background: var(--dialog-footer-color);
}

.el-message-box__btns > button,
.el-dialog__footer > button {
    flex: 1;
}

.el-dialog__title {
    align-self: center;
}

.el-overlay > * {
    overflow: hidden !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.el-input__inner[type="password"] {
    letter-spacing: 4px !important;
}

.el-dialog__close {
    transition: 200ms var(--ease-in-out-quint);
}

.el-slider__runway {
    --el-slider-height: 4px;
}

.el-slider__button {
    transition: var(--ease-in-out-quint) 200ms !important;
    background: var(--slider-button-color) !important;
    /*border-color: var(--slider-button-color) !important;*/
    /*border-width: 4px !important;*/
    border: var(--border-1) !important;
    box-sizing: border-box !important;
}

.el-slider__button:before {
    transition: var(--ease-in-out-quint) 150ms;
    display: block;
    content: "";
    background: var(--el-color-primary);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: fixed;
    top: 12px;
    left: 12px;
}

.el-slider__bar {
    transition: background-color var(--ease-in-out-quint) 200ms;
}

.el-slider__runway.is-disabled .el-slider__button:before {
    background: var(--el-slider-disabled-color);
    transform: none !important;
}

.el-slider__button-wrapper:hover > .el-slider__button:before,
.el-slider__button:hover:before {
    transform: scale(1.25);
}

.el-slider__button-wrapper:active > .el-slider__button:before,
.el-slider__button:active:before {
    transform: scale(0.75);
}

.el-slider__button.dragging, .el-slider__button.hover, .el-slider__button:hover {
    transform: none !important;
}

.el-radio__input.is-disabled.is-checked .el-radio__inner {
    background-color: var(--el-color-primary-3) !important;
}

.el-radio__inner {
    width: 16px !important;
    height: 16px !important;
}

.el-radio__inner:after {
    background-color: var(--front-color-reverse) !important;
    width: 8px !important;
    height: 8px !important;
}

.el-color-dropdown__btns {
    display: flex;
    align-items: center;
    margin-top: 8px !important;
    backdrop-filter: blur(32px);
    background: var(--lighting-effect-background-2) var(--panel-bg-color);
    border: var(--border-1) !important;
    border-radius: 4px !important;
    padding: 4px !important;

    .el-color-dropdown__value > .el-input {
        animation: none !important;

        .el-input__wrapper {
            height: 28px;
            font-size: 14px !important;
            text-align: center;
        }
    }

    .el-button {
        height: 32px !important;
        border: var(--border-1) !important;
        background: var(--lighting-effect-background-2) var(--panel-bg-color) !important;
        animation: none !important;
    }

    .el-color-dropdown__link-btn {
        margin-left: auto;
        margin-right: 4px;
    }

    .el-color-dropdown__btn {
        margin-left: 0 !important;
    }

    .el-color-predefine__color-selector.selected {
        box-shadow: 0 0 0 2px var(--el-color-primary);
    }
}

.el-color-picker__panel {
    background: rgba(0, 0, 0, 0) !important;
    backdrop-filter: none !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
}

.el-color-hue-slider {
    width: 16px !important;
    border-radius: 4px !important;
    margin-left: 4px !important;
}

.el-color-svpanel {
    border-radius: 4px !important;
    overflow: hidden !important;
}

.el-color-predefine {
    padding: 12px !important;
    padding-bottom: 4px !important;
    width: auto !important;
    backdrop-filter: blur(32px);
    background: var(--lighting-effect-background-2) var(--panel-bg-color);
    border: var(--border-1) !important;
    border-radius: 4px !important;
}

.el-color-picker__mask {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.el-popper {
    max-width: 100dvw !important;
}

.el-date-range-picker {
    max-width: 100dvw !important;
    min-width: 0 !important;
}

.el-picker-panel__body {
    max-width: 100dvw !important;
    min-width: 0 !important;
    display: flex;
    flex-wrap: wrap;
}

.el-date-range-picker__content {
    flex: 1;
    min-width: 290px;
}

.start-date .el-date-table-cell__text,
.end-date .el-date-table-cell__text {
    color: var(--front-color-reverse) !important;
}

.el-anchor {
    --el-anchor-bg-color: rgba(0, 0, 0, 0) !important;
}

.el-avatar {
    min-width: var(--el-avatar-size);
    min-height: var(--el-avatar-size);
}