<!DOCTYPE html>
<html lang="cn" xmlns:th="https://www.thymeleaf.org">
<div style="padding: 8px;width: 800px;height: 100%;display: flex;flex-direction: column">
    <label titleLabel>创建用户组</label>
    <label titleLabel for="roleNameInput">名称</label>
    <input id="roleNameInput" type="text">
    <label titleLabel>权限列表</label>
    <!--/*@thymesVar id="role" type="indi.etern.checkIn.entities.user.Role"*/-->
    <div th:replace="~{manage/pages/permissionList::permissionList(${null})}"></div>
    <button rounded highlight id="confirmCreateRoleButton">确定</button>
    <label id="tip"></label>
</div>
</html>