<!DOCTYPE html>
<html lang="cn" xmlns:th="https://www.thymeleaf.org">
<div style="padding: 8px;width: 800px;height: 100%;display: flex;flex-direction: column">
    <label titleLabel th:inline="text">权限编辑 [[${role.type}]]</label>
    <div style="display:flex;flex-direction: column">
        <label titleLabel>权限列表</label>
        <div th:replace="~{manage/pages/permissionList::permissionList(${role})}"></div>
    </div>
    <label id="tip"></label>
    <button id="saveButton" highlight rounded th:onclick="sendEditing([[${role.type}]])">保存</button>
</div>
</html>
