<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<body>
<!--use as th:replace="~{manage/pages/questionOverview::questionOverview(${question},${false})}"-->
<!--/*@thymesVar id="question" type="indi.etern.checkIn.entities.question.impl.multipleQuestion.MultipleChoiceQuestion"*/-->
<div th:fragment="questionOverview(question,jumpBool)">
    <div th:id="${question.getMd5()}" class="question" rounded>
        <div style="flex:1" title>
            <div style="display: flex;flex-direction: row">
                <div class="questionContent" rounded th:text="${question.getContent()}"></div>
                <div class="blank"></div>
                <div class="questionEnabled" rounded th:text="${question.isEnabled()?'已启用':'已禁用'}"></div>
            </div>
            <div>
                <div class="questionChoices">
                    <div th:each="choice:${question.getChoices()}" class="questionChoice"
                         th:correct="${choice.getIsCorrect()}" rounded th:text="${choice.getContent()}"></div>
                    <!--                </div>-->
                </div>
            </div>
        </div>
        <div content>
            <div class="questionOverviewImages" style="flex-wrap: wrap;display: flex;flex-direction: row"></div>
            <div style="display: flex;flex-direction: row;flex-wrap: wrap">
                <div class="questionMD5" rounded th:text="${question.getMd5()}"></div>
                <div class="questionType" rounded th:text="${question.getClass().getSimpleName()}"></div>
                <div class="questionAuthor" rounded
                     th:text="${question.getAuthor()!=null?question.getAuthor().getName()+'('+question.getAuthor().getQQNumber()+')':'unknown'}"></div>
                <div class="questionEditTime" rounded style="flex: none"
                     th:text="${question.getLastEditTime()==null?'修改时间未知':question.getLastEditTime().toString()}"></div>
                <button th:if="${jumpBool}" rounded highlight style="padding: 4px 6px;margin: 2px"
                        th:onclick="switchToPageWithAnimate('server',2,false,function () {md5ToQuestionFormDataMap = new Map();editQuestion([[${question.getMd5()}]])})">
                    编辑
                </button>
                <button th:unless="${jumpBool}" rounded highlight style="padding: 4px 6px;margin: 2px"
                        th:onclick="md5ToQuestionFormDataMap = new Map();editQuestion([[${question.getMd5()}]])">编辑
                </button>
                <!--/*@thymesVar id="permissionMap" type="java.util.Map"*/-->
                <button rounded highlight style="padding: 4px 6px;margin: 2px" th:if="${permissionMap.get('permission_delete_others_question')}"
                        th:onclick="deleteQuestion([[${question.md5}]])">删除
                </button>
            </div>
        </div>
    </div>
    <script>
        initShrinkPane($(".question"));
    </script>
</div>
</body>
</html>