<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<body>
<!--use as th:replace="~{manage/pages/questionOverview::questionOverview(${question},${false})}"-->
<!--/*@thymesVar id="question" type="indi.etern.checkIn.entities.question.impl.multipleQuestion.MultipleChoiceQuestion"*/-->
<th:block th:fragment="questionOverview(question,jumpBool)">
    <div th:id="${question.getId()}" class="question" rounded>
        <div style="flex:1" title>
            <div style="display: flex;flex-direction: row">
                <div class="questionContent" rounded th:text="${question.getContent()}"></div>
                <div class="blank"></div>
                <!--                <div class="questionEnabled" rounded th:text="${question.isEnabled()?'已启用':'已禁用'}"></div>-->
            </div>
            <div>
                <div class="questionChoices">
                    <div th:each="choice:${question.getChoices()}" class="questionChoice"
                         th:correct="${choice.getIsCorrect()}" rounded th:text="${choice.getContent()}"></div>
                </div>
            </div>
        </div>
        <div content>
            <div class="questionOverviewImages"></div>
            <div class="questionActions">
                <div class="questionID" rounded th:text="${question.getId()}"></div>
                <div class="questionType" rounded th:text="${question.getClass().getSimpleName()}"></div>
                <div class="questionAuthor" rounded
                     th:text="${question.getAuthor()!=null?question.getAuthor().getName()+'('+question.getAuthor().getQQNumber()+')':'unknown'}"></div>
                <div class="questionEditTime" rounded style="flex: none"
                     th:text="${question.getLastEditTime()==null?'修改时间未知':question.getLastEditTimeString()}"></div>
                <button class="questionOverviewButton" th:if="${jumpBool}" rounded highlight
                        style="padding: 4px 6px;margin: 2px"
                        th:onclick="switchToPageWithAnimate('server',2,false,function () {idToQuestionFormDataMap = new Map();editQuestion([[${question.getId()}]])})">
                    编辑...
                </button>
                <button class="questionOverviewButton" th:unless="${jumpBool}" rounded highlight
                        style="padding: 4px 6px;margin: 2px"
                        th:onclick="idToQuestionFormDataMap = new Map();editQuestion([[${question.getId()}]])">编辑...
                </button>
                <!--/*@thymesVar id="permissionMap" type="java.util.Map"*/-->
                <button class="questionOverviewButton" rounded highlight style="padding: 4px 6px;margin: 2px"
                        th:if="${permissionMap.get('permission_delete_others_question')}"
                        th:onclick="confirmAction(function (){deleteQuestion([[${question.id}]]);},$(this))">删除
                </button>
                <label style="line-height: 32px;margin-left: 8px;margin-right: 4px">启用</label>
                <span th:id="${'enable'+question.getId()}" class="questionEnabled" th:state="${question.isEnabled()}"
                      th:disabled="${!((permissionMap.get('permission_edit_others_question') || question.getAuthor()!=null&&question.getAuthor().equals(currentUser)&&permissionMap.get('permission_create_and_edit_owns_question')) && permissionMap.get('permission_enable_and_disable_question'))}"
                      th:onSwitchOn="'enableQuestion(&quot;'+${question.getId()}+'&quot;)'"
                      th:onSwitchOff="'disableQuestion(&quot;'+${question.getId()}+'&quot;)'"></span>
            </div>
        </div>
        <script>
            initShrinkPane($(".question"));
        </script>
    </div>
</th:block>
</body>
</html>