<!DOCTYPE html>
<html lang="cn" xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment="userPane(user)">
    <!--append <script>initShrinkPane($(".userDiv"))</script> after include it-->
    <!--/*@thymesVar id="user" type="indi.etern.checkIn.entities.user.User"*/-->
    <!--/*@thymesVar id="currentUser" type="indi.etern.checkIn.entities.user.User"*/-->
    <!--/*@thymesVar id="permissionMap" type="java.util.Map"*/-->
    <div class="userDiv" th:id="'userDiv'+${user.getQQNumber()}" rounded th:with="isOnline=${@webSocketService.isOnline(user)}">
        <div title style="display: flex;flex-direction: row;flex: 1">
            <div th:style="'font-size: 36px;color: var(--highlight-component-background-color-hover);margin-right: 4px;'+${!user.equals(currentUser)?'opacity: 0':''}">
                ·
            </div>
            <div class="userAvatar"
                 th:style="'background-image: url(&quot;https://q1.qlogo.cn/g?b=qq&nk='+${user.getQQNumber()}+'&s=640&quot;);'"></div>
            <div class="userInfoDiv" style="display: flex;flex-direction: column;font-size: 18px;flex: 1">
                <div class="userName" th:text="${user.getName()}"></div>
                <div style="display: flex;flex-direction: row">
                    <div class="userQQ" th:text="${user.getQQNumber()}"></div>
                    <div class="blank"></div>
                    <div class="userOnLine"
                         th:style="'margin-right: 4px;color: var(--highlight-component-background-color-hover);'+${!(isOnline||user.equals(currentUser))?'opacity: 0;':''}">
                        在线
                    </div>
                    <div class="userRole"
                         style="margin-right: 8px;color: var(--highlight-component-background-color-hover)"
                         th:text="${user.getRole().getType()}"></div>
                </div>
            </div>
        </div>
        <div class="userOperation" style="display:flex;flex-direction: row" content>
            <div style="display:flex;flex-direction: row">
                <th:block th:if="${!user.equals(currentUser)}">
                    <button highlight class="operationButton"
                            th:if="${isOnline && permissionMap.get('permission_force_offline')}"
                            th:onclick="offLine([[${user.QQNumber}]])">强制下线
                    </button>
                    <button highlight class="operationButton" th:if="${permissionMap.get('permission_change_role')}"
                            th:onclick="changeRole([[${user.QQNumber}]])" th:disabled="${isOnline}"
                            operation_type="change_role">
                        修改用户组
                    </button>
                    <button highlight class="operationButton" th:if="${permissionMap.get('permission_delete_user')}"
                            th:onclick="confirmAction(function (){deleteUser([[${user.QQNumber}]])}, $(this))" th:disabled="${isOnline}"
                            operation_type="delete_user">
                        删除
                    </button>
                    <div style="display:flex;flex-direction: row;align-items: center">
                        <label style="margin-left: 8px;margin-right: 4px;">启用</label>
                        <span class="toggleSwitch" th:id="'switchEnable'+${user.QQNumber}"
                              th:onSwitchOn="'enableUser('+${user.getQQNumber()}+',$(&quot;#switchEnable'+${user.getQQNumber()}+'&quot;))'"
                              th:onSwitchOff="'disableUser('+${user.getQQNumber()}+',$(&quot;#switchEnable'+${user.getQQNumber()}+'&quot;))'"
                              th:state="${user.isEnabled()}"
                              th:disabled="${@webSocketService.isOnline(user) || !permissionMap.get('permission_change_user_state')}"></span>
<!--                        <script th:inline="javascript">initSwitch($('#switchEnable[[${user.QQNumber}]]'))</script>-->
                    </div>
                </th:block>
                <th:block th:if="${user.equals(currentUser)}">
                    <button highlight class="operationButton" onclick="changePassword()">修改密码</button>
                    <button highlight class="operationButton" th:onclick="confirmAction(function (){deleteUser([[${user.QQNumber}]]);logout()},$(this))">删除
                    </button>
                </th:block>
            </div>
        </div>
        <script>initShrinkPane($(".userDiv"));initSwitch($(".toggleSwitch"))</script>
    </div>
</th:block>
</html>